.network {
  margin-top: 128px;
  display: flex;
  justify-content: space-between;
  gap: 45px;

  @media screen and (max-width: 1024px) {
    margin-top: 57px;
    gap: 30px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-top: 64px;
  }
}

.network__title {
  color: var(--neutral-700, #222426);
  font-family: var(--font-rationell);
  font-size: 40px;
  font-weight: 600;
  line-height: 57px; /* 142.5% */
  margin: 24px 0 40px;

  @media screen and (max-width: 1024px) {
    font-size: 24px;
    line-height: 33px; /* 137.5% */
    margin-bottom: 24px;
  }
}

.network__list {
  display: flex;
  gap: 41px;
  margin-bottom: 40px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 24px;
    gap: 16px 24px;
  }

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    gap: 24px;
  }
}

.network-list__value {
  color: var(--blue-600-primary, #3568DD);
  font-family: var(--font-rationell);
  font-size: 40px;
  font-weight: 600;
  line-height: 34.426px; /* 86.066% */
  margin-bottom: 8px;

  @media screen and (max-width: 1024px) {
    font-size: 24px;
    line-height: 34.426px; /* 143.443% */
  }
}

.network-list__text {
  color: var(--neutral-300, #A1A6B2);
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 600;
  line-height: 26px; /* 144.444% */

  @media screen and (max-width: 1024px) {
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
}

.network__img {
  @media screen and (max-width: 1024px) {
    width: 215px;
    height: auto;
  }
}