.network {
  width: 100%;
  padding: 96px 84px;
  margin-top: 120px;
  border-radius: 130px;
  background: var(--blue-500, #457EFF);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  @media screen and (max-width: 1200px) {
    border-radius: 72px;
  }

  @media screen and (max-width: 950px) {
    padding: 96px 66px;
  }

  @media screen and (max-width: 650px) {
    padding: 24px 24px 48px;
    border-radius: 48px;
  }
}

.network__label {
  width: fit-content;
  color: var(--neutral-0, #FFF);
  text-align: center;
  font-size: 14px;
  font-family: var(--font-inter);
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2.66px;
  border-radius: 30px;
  border: 1px solid var(--alpha-white-20, rgba(255, 255, 255, 0.20));
  background: var(--alpha-white-10, rgba(255, 255, 255, 0.10));
  padding: 5px 17px;
  margin-bottom: 64px;

  @media screen and (max-width: 650px) {
    font-size: 12px;
  }
}

.network__text-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
  gap: 24px;
  margin-bottom: 64px;

  @media screen and (max-width: 950px) {
    margin-bottom: 0;
  }

  @media screen and (max-width: 650px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.network__text-wrapper-left {
  display: block;
  max-width: 50%;
  color: #7DA3F9;
  font-size: 48px;
  font-family: var(--font-mersad);
  font-weight: 655;
  line-height: 54px;
  letter-spacing: -0.96px;

  @media screen and (max-width: 1200px) {
    font-size: 30px;
    line-height: 40px;
  }

  @media screen and (max-width: 650px) {
    width: 100%;
    font-size: 24px;
    line-height: 32px;
    max-width: none;
  }
}

.network__text-left-first {
  color: #7DA3F9;
}

.network__text-left-second {
  color: #fff;
}

.network__text-wrapper-right {
  width: 50%;
  display: block;
  max-width: 450px;
  color: var(--neutral-0, #FFF);
  font-size: 18px;
  font-family: var(--font-inter);
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.216px;

  @media screen and (max-width: 650px) {
    width: 100%;
    max-width: none;
    font-size: 16px;
  }
}

.network__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 871px;
  width: 100%;
  margin: 64px 0;

  @media screen and (max-width: 950px) {
    margin-top: 0;
    gap: 24px 64px;
    justify-content: center;
  }

  @media screen and (max-width: 650px) {
    gap: 24px;
    margin-bottom: 24px;
  }
}

.network__info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.network__info-primary {
  color: var(--neutral-0, #FFF);
  text-align: center;
  font-size: 48px;
  font-family: var(--font-inter);
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -0.96px;

  @media screen and (max-width: 950px) {
    font-size: 36px;
    line-height: 42px;
  }
}

.network__info-secondary {
  color: var(--blue-200, #C9D9FF);
  font-size: 18px;
  font-family: var(--font-inter);
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.216px;


  @media screen and (max-width: 950px) {
    font-size: 14px;
    font-weight: 500;
  }
}

.network__btn {
  border-radius: 1000px;
  background: var(--neutral-0, #FFF);
  padding: 12px 16px;
  color: var(--neutral-800, #191919);
  font-family: var(--font-inter);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.16px;;
}

.network__img {
  max-width: 1300px;
  width: 100%;

  @media screen and (max-width: 950px) {
    width: 120%;
    height: 400px;
  }

  @media screen and (max-width: 650px) {
    width: 150%;
  }
}