.network-container {
  background-size: 2500px;
  padding: 120px 0 260px 0;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-image: url("/img/homepage/network-bg.jpg");
  
  
  @media only screen and (max-width: 1024px) {
    background-size: 1500px;
    padding: 120px 0 60px 0;
    background-position: center 10%;
  }
  
  @media only screen and (max-width: 767px) {
    padding: 120px 0 0 0;
    background-position: center 40%;
  }
}

.title {
  gap: 8px;
  display: flex;
  margin: 0 auto;
  width: 611px;
  max-width: 100%;
  text-align: center;
  flex-direction: column;

  div {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -1.4%;
    color: var(--primary-500-base, #3668DD);
  }
  
  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }

  @media only screen and (max-width: 1024px) {
    div {
      font-size: 14px;
      line-height: 22px;
    }
    
    h2 {
      font-size: 28px;
      line-height: 36px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    div {
      line-height: 24px;
    }
    
    h2 {
      font-size: 20px;
      line-height: 29.95px;
    }
  }
}

.details {
  row-gap: 56px;
  display: grid;
  padding: 125.5px 0;
  grid-template-columns: repeat(2, 1fr);

  .detail {    
    > span {
      gap: 8px;
      height: 44px;
      padding: 0 16px;
      border-radius: 40px;
      align-items: center;
      display: inline-flex;
      background-color: #FFFFFF;
      box-shadow: 0px 6px 12px rgba(47, 43, 67, 0.1);
    }

    &:nth-child(odd) {
      text-align: right;
      margin-right: 193px;
    }

    &:nth-child(even) {
      margin-left: 193px;
    }

    &:nth-child(1) {
      padding-right: 17px;
    }
    
    &:nth-child(2) {
      padding-left: 38.72px;
    }
    
    &:nth-child(3) {
      padding-right: 78px;
    }
    
    &:nth-child(4) {
      padding-left: 107.72px;
    }
    
    &:nth-child(5) {
      padding-right: 121px;
    }
    
    &:nth-child(6) {
      padding-left: 166.72px;
    }
    
    &:nth-child(7) {
      padding-right: 52px;
    }

    &:nth-child(8) {
      padding-left: 38.72px;
    }
  }

  @media only screen and (max-width: 1024px) {
    row-gap: 33.78px;

    .detail {
      > span {
        height: 36px;
      }

      &:nth-child(odd) {
        margin-right: 50px;
      }
  
      &:nth-child(even) {
        margin-left: 50px;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    padding: 325.5px 0 0 0;

    .detail {
      padding: 0!important;

      &:nth-child(odd) {
        margin-right: 0;
        text-align: left;
      }

      &:nth-child(even) {
        margin-left: 0;
      }
    }
  }
}

.value, .value-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: var(--primary-500-base, #3668DD);
  
  @media only screen and (max-width: 1024px) {
    font-size: 14px;
  }
}

.value-title {
  color: var(--Neutrals-600---Secondary-content, #63636D);
}