.homepage {
  max-width: 100vw;
  overflow: hidden;
}

.articles-wrapper {
  margin-top: 112px;
  margin-bottom: 82px;
  position: relative;
}

.blue-circle {
  position: absolute;
  right: 50%;
  transform: translateX(calc(50% + 1000px));
  bottom: -1200px;
  z-index: -1;
}

.orange-circle {
  position: absolute;
  left: 50%;
  transform: translateX(calc(-50% - 1000px));
  top: -1200px;
  z-index: -1;
}

.main-block-wrapper {
  position: relative;
  overflow: hidden;
}

.ambassadors-wrapper {
  position: relative;
}