.homepage {
  max-width: 100vw;
}

.articles-wrapper {
  margin-top: 112px;
  margin-bottom: 82px;
  position: relative;
}

.blue-circle {
  position: absolute;
  right: 50%;
  transform: translateX(calc(50% + 1000px));
  bottom: -1200px;
  z-index: -1;

  &_buy {
    width: 100%;
    transform: translateX(calc(50% + 600px));
    bottom: -800px;
    opacity: 0.6;

    @media screen and (max-width: 1100px) {
      bottom: -600px;
      width: 120%;
      transform: translateX(calc(50% + 400px));
    }

    @media screen and (max-width: 678px) {
      display: none;
    }
  }
}

.orange-circle {
  position: absolute;
  left: 50%;
  transform: translateX(calc(-50% - 1000px));
  top: -1200px;
  z-index: -1;

  &_buy {
    top: -700px;
    transform: translateX(calc(-50% - 700px));
    width: 100%;
    opacity: 0.6;

    @media screen and (max-width: 1100px) {
      top: -700px;
      width: 120%;
      transform: translateX(calc(-50% - 400px));
    }

    @media screen and (max-width: 678px) {
      display: none;
    }
  }
}

.main-block-wrapper {
  position: relative;
  overflow: hidden;
}

.ambassadors-wrapper {
  position: relative;
}

.shape {
  position: absolute;
  width: 150px;
  left: -50px;
  transform: rotate(-10deg);
  top: 150px;
  height: auto;

  @media screen and (max-width: 768px) {
    width: 110px;
    left: -30px;
    top: 100px;
  }
}

.shape-right {
  left: unset;
  right: -50px;
  width: 120px;
  top: unset;
  bottom: 200px;
  transform: scale(1, -1) rotate(-10deg);

  @media screen and (max-width: 768px) {
    bottom: 103px;
  }
}
