.sliderContainer {
  margin-top: 122px;
  margin-bottom: 163px;

  @media only screen and (max-width: 1024px) {
    margin-top: 72px;
    margin-bottom: 138px;
  }

  > h4 {
    text-align: center;
    color: #222426;
    font-family: var(--font-rationell);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.96px;

    &:not(:last-child) {
      margin-bottom: 56px;
    }

    @media only screen and (max-width: 1024px) {
      font-size: 32px;
      line-height: 40px;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}

.sliderHolder {
  display: grid;
  grid-template-columns: 1fr 302px 1fr;
  grid-gap: 164px;

  @media only screen and (max-width: 1024px) {
    grid-template-columns: 1fr 188px 1fr;
    grid-gap: 76px;
  }

  .thumbs {
    display: flex;
    flex-direction: column;

    &.thumbsLeft {
      align-items: flex-end;

      li {
        text-align: right;
      }

      .thumbItem {
        &:nth-child(1) {
          &:after {
            top: 27.5px;
            right: -174px;
            background-image: url("/slider/line-top.svg");
          }
        }

        &:nth-child(2) {
          &:not(:last-child) {
            margin-bottom: 77px;

            @media only screen and (max-width: 1024px) {
              margin-bottom: 42px;
            }
          }

          &:after {
            top: 27.5px;
            right: -174px;
            background-image: url("/slider/line-middle.svg");
          }
        }

        &:nth-child(3) {
          &:after {
            top: -200px;
            right: -174px;
            background-image: url("/slider/line-bottom.svg");
          }
        }

        &.active {
          &:nth-child(1) {
            &:after {
              background-image: url("/slider/line-top-left-active.svg");
            }

            .icon {
              background-color: #efe9fc;
              color: #743de5;
            }
          }

          &:nth-child(2) {
            &:after {
              background-image: url("/slider/line-middle-left-active.svg");
            }

            .icon {
              background-color: #fde8f4;
              color: #ef59b3;
            }
          }

          &:nth-child(3) {
            &:after {
              background-image: url("/slider/line-bottom-left-active.svg");
            }

            .icon {
              background-color: #e5fff7;
              color: #2dba8d;
            }
          }
        }
      }
    }

    &.thumbsRight {
      align-items: flex-start;

      li {
        text-align: left;
      }

      .thumbItem {
        &:nth-child(1) {
          &:after {
            top: 27.5px;
            left: -174px;
            background-image: url("/slider/line-top.svg");
            transform: scaleX(-1);
          }
        }

        &:nth-child(2) {
          &:after {
            top: 27.5px;
            left: -174px;
            background-image: url("/slider/line-middle.svg");
            transform: scaleX(-1);
          }
        }

        &.active {
          &:nth-child(1) {
            &:after {
              background-image: url("/slider/line-top-right-active.svg");
            }

            .icon {
              background-color: #f1fde8;
              color: #59b412;
            }
          }

          &:nth-child(2) {
            &:after {
              background-image: url("/slider/line-middle-right-active.svg");
            }

            .icon {
              background-color: #e9effb;
              color: #3668dd;
            }
          }
        }
      }
    }

    .thumbItem {
      position: relative;
      cursor: pointer;

      &:after {
        position: absolute;
        width: 175px;
        height: 235px;
        background-repeat: no-repeat;
        content: "";
      }

      &:not(:last-child) {
        margin-bottom: 57px;

        @media only screen and (max-width: 1024px) {
          margin-bottom: 26px;
        }
      }

      &.active {
        .icon {
          background-color: #f2f2f3;
          color: #9b9ca5;
        }

        h6 {
          color: #0c0c0d;
        }

        p {
          color: #0c0c0d;
        }
      }

      .content {
        max-width: 330px;

        @media only screen and (max-width: 1024px) {
          max-width: 181px;
        }
      }

      .icon {
        position: relative;
        z-index: 2;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: #f2f2f3;
        color: #9b9ca5;
        transition: color 0.25s ease, background-color 0.25s ease;

        &:not(:last-child) {
          margin-bottom: 16px;
        }

        @media only screen and (max-width: 1024px) {
          width: 34px;
          height: 34px;

          svg {
            width: 19px;
            height: 19px;
          }

          &:not(:last-child) {
            margin-bottom: 8px;
          }
        }
      }

      h6 {
        color: #9b9ca5;
        font-family: var(--font-inter);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.192px;
        transition: color 0.25s ease;

        &:not(:last-child) {
          margin-bottom: 8px;
        }

        @media only screen and (max-width: 1024px) {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: -0.14px;

          &:not(:last-child) {
            margin-bottom: 4px;
          }
        }
      }

      p {
        color: #9b9ca5;
        font-family: var(--font-inter);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.16px;
        transition: color 0.25s ease;

        @media only screen and (max-width: 1024px) {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: -0.12px;
        }
      }
    }
  }

  .border {
    position: relative;
    z-index: 2;
    width: 302px;
    height: 630px;

    @media only screen and (max-width: 1024px) {
      width: 188px;
      height: 384px;
    }

    .overflow {
      overflow: hidden;
      width: 100%;
      height: 100%;
      border-radius: 46px;
      border-width: 12px;
      border-style: solid;
      border-color: rgba(242, 242, 242, 0.8);
      backdrop-filter: blur(10px);
    }

    &:after {
      position: absolute;
      bottom: -90px;
      left: 0;
      right: 0;
      width: 100%;
      height: 57px;
      background-image: url("/slider/shadow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      content: "";

      @media only screen and (max-width: 1024px) {
        bottom: -60px;
      }
    }

    .carouselImages {
      position: relative;
      margin: auto;
      height: inherit;
      overflow: hidden;

      .swiper {
        display: flex;
        flex-direction: row;
      }
    }
  }

  .slide {
    min-width: 100%;
    height: 100%;

    img {
      @media only screen and (max-width: 1024px) {
        width: 170px;
        height: 369px;
      }
    }
  }
}
