.be-involved-container {
  padding: 75px 0;
  background-color: var(--Primary-50, #e9effb);

  @media only screen and (max-width: 1024px) {
    padding: 46px 0;
  }

  @media only screen and (max-width: 767px) {
    padding: 32px 0;
  }
}

.title {
  gap: 8px;
  display: flex;
  margin: 0 auto;
  width: 611px;
  max-width: 100%;
  text-align: center;
  flex-direction: column;

  div {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -1.4%;
    font-family: var(--font-inter);
    color: var(--primary-500-base, #3668dd);
  }

  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    font-family: var(--font-rationell);
    color: var(--Neutrals-800---Primary-content, #29292d);
  }

  @media only screen and (max-width: 1024px) {
    div {
      font-size: 14px;
      line-height: 22px;
    }

    h2 {
      font-size: 28px;
      line-height: 36px;
    }
  }

  @media only screen and (max-width: 767px) {
    div {
      line-height: 24px;
    }

    h2 {
      font-size: 20px;
      line-height: 29.95px;
    }
  }
}

.blocks {
  gap: 21px;
  display: flex;
  margin-top: 47.77px;
  flex-direction: column;

  > div {
    overflow: hidden;

    &:nth-child(1) {
      gap: 21px;
      display: flex;
      align-items: stretch;

      .main-block {
        padding: 32px;
        border-radius: 32px;
        background-color: #ffffff;
      }

      > div {
        flex: 1;

        .event-item {
          width: 100%;
          position: relative;
          gap: 24px;
          display: flex;

          > div {
            width: 100%;
          }

          .event-item-title-date-description {
            display: flex;

            .event-item-title-date {
              display: flex;
              gap: 16px !important;
            }
          }
        }
      }

      @media only screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &:nth-child(2) {
      > div {
        padding: 32px;
        border-radius: 32px;
        background-color: #ffffff;
      }
    }

    &:nth-child(2) {
      gap: 20px;
      display: flex;
      line-height: 0;

      > div {
        flex: 1;
      }

      /* > div:first-child {
        background: linear-gradient(214deg, #5098EC 0%, #3568DD 100%); 

        h3, div {
          color: #FFFFFF;
        }

        button {
          background-color: #F2F2F3;

          &:hover {
            opacity: 0.8;
          }
        }
      } */

      img {
        &.mobile-governor {
          display: none;
          height: unset;
          margin: 0 auto;
          width: unset !important;
        }
      }

      @media only screen and (max-width: 1024px) {
        gap: 17px;
        flex-direction: column;
      }

      @media only screen and (max-width: 767px) {
        img {
          /* display: none; */

          &.mobile-governor {
            width: 100%;
            max-width: 100%;
            display: block;
          }
        }

        div {
          /* gap: 14px; */
          /* flex-direction: column; */
        }
      }
    }

    &:nth-child(2) {
      gap: 20px;
      display: grid;
      grid-template-columns: 3fr 2fr;

      > div {
        img {
          width: 100%;
          height: auto;
          max-width: 100%;
        }

        &:last-child {
          background-color: var(--Neutrals-800---Primary-content, #29292d);

          .block-title-description {
            flex: 1;

            h3,
            div {
              color: #ffffff;
            }

            a {
              margin-top: 21.5px;
            }

            button {
              background-color: #ffffff;

              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }

      @media only screen and (max-width: 1024px) {
        gap: 17px;
        grid-template-columns: 1fr;
      }
    }

    a {
      line-height: 0;
      margin-top: auto;
      width: fit-content;

      button {
        color: var(--Neutrals-800---Primary-content, #29292d);
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    gap: 17px;
  }

  @media only screen and (max-width: 767px) {
    a {
      margin-top: 14px;
    }
  }
}

.main-block {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.block-title-description {
  gap: 16px;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -2%;
    font-family: var(--font-rationell);
    color: var(--Neutrals-800---Primary-content, #29292d);
  }

  div {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -1%;
    font-family: var(--font-inter);
    color: var(--Neutrals-600---Secondary-content, #63636d);
  }

  @media only screen and (max-width: 1024px) {
    h3 {
      font-size: 24px;
      line-height: 32px;
    }

    div {
      font-size: 14px;
      line-height: 22px;
    }
  }

  @media only screen and (max-width: 767px) {
    h3 {
      font-size: 20px;
      line-height: 24.2px;
    }

    div {
      font-size: 14px;
      line-height: 16.94px;
    }
  }
}

.socials {
  display: flex;
  gap: 32px 56px;
  flex-wrap: wrap;
  align-items: center;

  a {
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.4;
    }
  }
}

.marquee {
  img {
    margin: 0 12.5px;
    width: 150px !important;

    @media only screen and (max-width: 767px) {
      margin: 0 5.2px;
      width: 65px !important;
    }
  }
}

.marquee-container {
  position: relative;

  .gradient {
    position: absolute;
    top: -1px;
    z-index: 9;
    right: -1px;
    width: 399px !important;
    height: 170px !important;

    @media only screen and (max-width: 767px) {
      width: 172.87px !important;
      height: 73.65px !important;
    }
  }
}

.block-burn {
  img {
    object-fit: cover;
    border-radius: 14px;
    height: 171px !important;

    @media only screen and (max-width: 767px) {
      height: 89.92px !important;
    }
  }
}

.event-item {
  width: 100%;
  position: relative;
  margin-bottom: 16px;

  > div {
    z-index: 2;
    padding: 12px;
    display: flex;
    max-width: 470px;
    align-items: center;
    gap: 16px !important;
    border-radius: 16px;
    background: #ffffff;
    box-shadow: 0px 12px 36px rgba(47, 43, 67, 0.12);
  }

  &:after {
    content: '';
    position: absolute;
    top: 16px;
    z-index: 1;
    left: 16px;
    width: 100%;
    height: 100%;
    max-width: 461px;
    border-radius: 16px;
    background: #ffffff;
    box-shadow: 0px 12px 36px rgba(47, 43, 67, 0.12);
  }

  img {
    z-index: 2;
    height: auto !important;
    width: 49.77px !important;
  }

  @media only screen and (max-width: 767px) {
    > div {
      padding: 8.78px 7.9px;
      gap: 10.57px !important;
      flex-direction: row !important;
    }

    img {
      display: block !important;
    }
  }
}

.event-item-title-date-description {
  z-index: 2;
  gap: 8px !important;
  flex-direction: column;

  @media only screen and (max-width: 767px) {
    gap: 5.27px !important;
  }
}

.event-item-title-date {
  gap: 16px !important;

  @media only screen and (max-width: 767px) {
    gap: 10.54px !important;
    flex-direction: row !important;
  }
}

.event-item-title {
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
  font-family: var(--font-inter) !important;
  color: var(--Neutrals-800---Primary-content, #29292d) !important;

  @media only screen and (max-width: 767px) {
    font-size: 10.54px !important;
    line-height: 15.8px !important;
  }
}

.event-item-description {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 18px !important;
  font-family: var(--font-inter) !important;
  color: var(--Neutrals-600---Secondary-content, #63636d) !important;

  @media only screen and (max-width: 767px) {
    font-size: 7.9px !important;
    line-height: 11.85px !important;
  }
}

.event-item-date {
  display: flex;
  padding: 0 8px;
  border-radius: 8px;
  align-items: center;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 18px !important;
  font-family: var(--font-inter) !important;
  background-color: var(--Primary-50, #e9effb);
  color: var(--primary-500-base, #3668dd) !important;

  @media only screen and (max-width: 767px) {
    padding: 0 5.27px;
    border-radius: 5.27px;
    font-size: 7.9px !important;
    flex-direction: row !important;
    line-height: 11.85px !important;
  }
}
