.sbtContainer {
  background-color: #E9EFFB;
  box-shadow: 0 0 0 100vmax #E9EFFB;

  clip-path: inset(0 -100vmax);
  padding: 70px 0 0;
  @media screen and (max-width: 992px) {
    padding: 48px 0 0;
  }

  .bgBlock {
    margin-inline: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (min-width: 1024px) {
      max-width: 1024px;
      padding: 80px 46px;
      background-image: url("assets/CTA_desktop.webp");
      height: 304px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      max-width: 704px;
      padding: 48px 46px;
      background-image: url("assets/CTA_tablet.webp");
      height: 232px;
    }
    @media screen and (max-width: 767px) {
      max-width: 343px;
      padding: 27px 24px;
      background-image: url("assets/CTA_mobile.webp");
      height: 424px;
    }

    .info {
      h3 {
        color: #fff;
        font-family: var(--font-rationell);
        font-style: normal;
        font-weight: 700;
        @media screen and (min-width: 1024px) {
          max-width: 475px;
          font-size: 32px;
          line-height: 40px;
          letter-spacing: -0.64px;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
          max-width: 358px;
          font-size: 28px;
          line-height: 36px;
          letter-spacing: -0.56px;
        }
        @media screen and (max-width: 767px) {
          max-width: 295px;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: -0.48px;
        }
      }

      .ctaBlock {
        margin-top: 16px;
        display: flex;
        gap: 16px;
        align-items: center;

        .link {
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 12px 16px;
          border-radius: 1000px;
          background-color: #ffffff;
          box-shadow: 0px -1px 0px 0px rgba(47, 43, 67, 0.10) inset, 0px 1px 3px 0px rgba(47, 43, 67, 0.10);
          cursor: pointer;
          opacity: 1;
          transition: opacity .3s ease-in-out;
          &:hover {
            opacity: 0.75;
          }
        }

        .linkTransparent {
          color: #ffffff;
          background-color: transparent;
          box-shadow: none;
        }
      }
    }
  }
}
