.govPortalPage {
  overflow: hidden;

  .insetRound {
    position: relative;
    padding-top: 120px;
    background: var(--blue-600-primary);

    @media screen and (max-width: 1024px) {
      padding-top: 50px;
    }

    @media screen and (max-width: 767px) {
      padding-top: 0;
    }

    > div {
      position: relative;
      z-index: 5;
    }

    &:after {
      background: #fff;
      position: absolute;
      width: 100%;
      height: 150%;
      content: "";
      top: -120px;

      @media only screen and (min-width: 768px) {
        left: 50%;
        z-index: 0;
        width: 3200px;
        height: 4200px;
        transform: translateX(-50%);
        border-radius: 50%;
      }
    }
  }

  .cta {
    position: relative;
    overflow: hidden;
    padding-top: 85px;
    background-color: var(--secondary-500-base);
    padding-bottom: 270px;

    @media screen and (max-width: 1024px) {
      padding-top: 48px;
      padding-bottom: 220px;
    }

    button[class*="button__tetiary"] {
      padding: 32.953px 43.937px;
      font-size: 43.937px;
      font-style: normal;
      font-weight: 600;
      line-height: 65.906px;
      letter-spacing: -0.439px;
      color: var(--neutral-900);
      background: var(--neutral-0);
      transition: all 0.25s ease;

      @media screen and (max-width: 767px) {
        padding-top: 8px;
        padding-bottom: 8px;
      }

      &:hover {
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
      }

      @media only screen and (max-width: 1024px) {
        padding: 21.969px 43.937px;
        font-size: 43.937px;
        font-style: normal;
        font-weight: 600;
        line-height: 65.906px; /* 150% */
      }

      @media only screen and (max-width: 767px) {
        padding: 16.476px 32.953px;
        font-size: 38.445px;
        font-style: normal;
        font-weight: 500;
        line-height: 54.921px; /* 142.857% */
        letter-spacing: -0.384px;
      }
    }

    .roundShadow {
      position: absolute;
      right: -30%;
      top: 15%;
      border-radius: 821px;
      opacity: 0.3;
      background: #457eff;
      filter: blur(282px);
      width: 821px;
      height: 821px;
    }

    .particle {
      position: absolute;
      z-index: 10;
      right: 0;
      top: 0;
      width: 371px;
      height: 672px;

      svg {
        width: inherit;
        height: inherit;
      }

      @media screen and (max-width: 1024px) {
        width: 350px;
        height: 350px;
        bottom: 0;
        top: auto;
      }

      @media screen and (max-width: 767px) {
        width: 235px;
        height: 235px;
      }
    }
  }
}

.content {
  & + footer[class*="footer"] {
    position: relative;
    z-index: 10;
    margin-top: 0;
  }
}

.page-title {
  font-family: var(--font-rationell);
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 96px;
  letter-spacing: -1.44px;
  color: var(--neutral-0);

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1300px) {
    padding-right: 170px;
  }

  @media screen and (max-width: 1024px) {
    font-size: 56px;
    line-height: 72px;
  }

  @media screen and (max-width: 767px) {
    font-size: 48px;
    line-height: 64px;
  }
}

.content-title {
  font-family: var(--font-rationell);
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.64px;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  max-width: 500px;

  &:not(:last-child) {
    margin-bottom: 48px;
  }

  @media screen and (max-width: 1024px) {
    font-size: 28px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width: 1024px) {
    font-size: 24px;
    line-height: 32px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.section-title {
  font-family: var(--font-rationell);
  color: var(--neutral-700, #222426);
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -0.96px;
  max-width: 928px;
  margin-bottom: 48px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 32px;
  }

  @media screen and (max-width: 1024px) {
    font-size: 40px;
    line-height: 56px;
  }

  @media screen and (max-width: 767px) {
    font-size: 32px;
    line-height: 40px;
  }

  span {
    color: var(--blue-600-primary);
    font-family: var(--font-rationell);
  }
}
