.benefits {
  overflow: hidden;
  position: relative;
  padding: 92px 0;

  @media screen and (max-width: 1024px) {
    padding: 52px 0;
  }

  @media screen and (max-width: 610px) {
    padding: 70px 0;
  }

  &::before {
    width: 100vw;
    height: 100%;
    content: "";
    position: absolute;
    background-image: url('/bg-gradient/ambassador.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    inset: 0;
    z-index: -1;
  }

  .innerBenefits {
    max-width: 1300px;
    padding: 0 30px;
    margin: 0 auto;

    @media screen and (max-width: 650px) {
      padding: 0 16px;
    }
  }
}

.benefits__title {
  color: #222426;
  font-family: var(--font-rationell);
  font-size: 48px;
  font-weight: 700;
  line-height: 57px;
  margin-bottom: 56px;
  text-align: center;
  letter-spacing: -0.96px;

  @media screen and (max-width: 1024px) {
    line-height: 40px;
    font-size: 28px;
    text-align: left;
    margin-bottom: 32px;
  }
}

.benefits__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 610px) {
    display: flex;
    flex-direction: column;
  }
}

.benefits__item {
  border-radius: 24px;
  background: rgba(14, 14, 14, 0.05);
  padding: 24px;

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.benefits__item-title {
  color: #191919;
  font-family: var(--font-inter);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin: 16px 0;
  letter-spacing: -0.28px;

  @media screen and (max-width: 1024px) {
    line-height: 24px;
    font-size: 16px;
    margin: 8px 0;
  }
}

.benefits__item-text {
  color: #51545A;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.16px;

  @media screen and (max-width: 1024px) {
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }
}
