.benefits {
  margin-top: 92px;

  @media screen and (max-width: 1024px) {
    margin-top: 52px;
  }

  @media screen and (max-width: 610px) {
    margin-top: 69px;
  }
}

.benefits__title {
  color: var(--neutral-700, #222426);
  font-family: var(--font-rationell);
  font-size: 48px;
  font-weight: 700;
  line-height: 57px; /* 118.75% */
  margin-bottom: 56px;
  text-align: center;
  letter-spacing: -0.96px;

  @media screen and (max-width: 1024px) {
    line-height: 40px; /* 142.857% */
    font-size: 28px;
    text-align: left;
    margin-bottom: 32px;
  }
}

.benefits__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 610px) {
    display: flex;
    flex-direction: column;
  }
}

.benefits__item {
  border-radius: 24px;
  background: var(--alpha-black-5, rgba(14, 14, 14, 0.05));
  padding: 24px;

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.benefits__item-title {
  color: var(--neutral-800, #191919);
  font-family: var(--font-inter);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px; /* 140% */
  margin: 16px 0;
  letter-spacing: -0.28px;

  @media screen and (max-width: 1024px) {
    line-height: 24px; /* 150% */
    font-size: 16px;
    margin: 8px 0;
  }
}

.benefits__item-text {
  color: var(--neutral-500, #51545A);
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;

  @media screen and (max-width: 1024px) {
    text-align: center;
    line-height: 20px; /* 142.857% */
    font-size: 14px;
  }
}