.textarea {
    height: 120px;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1px solid var(--alpha-black-10, rgba(14, 14, 14, 0.10));
    background: var(--neutral-0, #FFF);
    box-sizing: border-box;
    width: 100%;
    color: var(--neutral-800, #191919);
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;

    resize: none;

    &::placeholder {
        color: var(--alpha-black-60, rgba(14, 14, 14, 0.60));
        font-family: var(--font-inter);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: -0.16px;
    }

    &:hover {
        border: 1px solid var(--alpha-black-20, rgba(14, 14, 14, 0.20));
    }

    &:focus {
        box-shadow: 0px 0px 0px 3px #99B8FF;
    }
}

.wrapper {
    position: relative;
}
