.blog-list-page {
  max-width: 1300px;
  width: calc(100% - 140px);
  margin: 0 auto;
  padding-top: 100px;
  min-height: 100vh;

  @media screen and (max-width: 950px) {
    padding-top: 100px;
  }

  @media screen and (max-width: 610px) {
    padding-top: 140px;
    width: calc(100% - 36px);
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;

  @media screen and (max-width: 610px) {
    margin-top: 24px;
    margin-bottom: 32px;
  }
}

.buttons_center {
  justify-content: center;
}

.blog-types {
  width: fit-content;
  @media screen and (max-width: 700px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px 0;
  }
}

.blog-types__item {
  padding: 16px 18px;
  border-radius: 101px;
  background: var(--alpha-black-5, rgba(14, 14, 14, 0.05));
  text-transform: capitalize;
  font-weight: 600;
  color: #2f2b4399;
  display: inline-block;

  @media screen and (max-width: 650px) {
    padding: 6px 14px;
    font-size: 14px;
  }

  &:not(:last-child) {
    margin-right: 16px;
  }

  &_active {
    background: #ff7a00;
    font-weight: 500;
    color: #ffffff;
  }
}

.blog-link {
  width: 32%;
  padding: 16px;
  border-radius: 24px;
  border: 1px solid var(--blue-200, #c9d9ff);
  background: var(--neutral-0, #fff);
  display: flex;
  flex-direction: column;

  div:last-child {
    margin-top: auto;
  }
}

.blog-link__img {
  max-width: 100%;
  height: 17vw;
  margin-bottom: 24px;
  border-radius: 16px;
  object-fit: cover;

  @media screen and (max-width: 950px) {
    height: 191px;
  }

  @media screen and (max-width: 610px) {
    height: 218px;
  }
}

.blog-link__title {
  color: #000;
  font-family: var(--font-inter), sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px; /* 140% */
  letter-spacing: -0.28px;

  @media screen and (max-width: 1024px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.blog-link__descr {
  margin: 16px 0;
  color: var(--neutral-800, #191919);
  font-family: var(--font-inter);
  font-size: 14px;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    font-size: 12px;
    line-height: 16px;
    margin: 8px 0;
  }
}

.blog-link__info {
  color: var(--neutral-400, #676b73);
  font-family: var(--font-inter);
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;

  &:nth-child(2) {
    text-transform: capitalize;
  }

  &:not(:last-child) {
    padding-right: 20px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      right: 7px;
      top: 8px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #676b73;

      @media screen and (max-width: 1024px) {
        top: 5px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.articles-wrapper {
  margin-bottom: 72px;

  @media screen and (max-width: 950px) {
    margin-bottom: 54px;
  }

  @media screen and (max-width: 650px) {
    margin-bottom: 34px;
  }
}

.articles-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 48px 0;

  &_pagination {
    margin-bottom: 56px;
    justify-content: flex-start;

    @media screen and (min-width: 950px) {
      .blog-link:not(:nth-child(3n)) {
        margin-right: 2%;
      }
    }

    @media screen and (max-width: 950px) and (min-width: 650px) {
      .blog-link:not(:nth-child(2n)) {
        margin-right: 4%;
      }
    }
  }

  &:not(&_pagination) .blog-link {
    @media screen and (max-width: 950px) {
      &:nth-child(3) {
        display: none;
      }
    }
    @media screen and (max-width: 650px) {
      &:nth-child(2) {
        display: none;
      }
    }
  }

  .blog-link {
    @media screen and (max-width: 950px) {
      width: 48%;
    }
    @media screen and (max-width: 650px) {
      width: 100%;
    }
  }
}

.articles-cards {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  margin: 0 auto 56px;

  width: 100vw;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.articles-cards::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.articles__card {
  width: 416px;
  @media (max-width: 950px) {
    width: 340px;
    flex-shrink: 0;
  }
  @media (max-width: 610px) {
    width: 310px;
  }
}

.articles-top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.articles-title {
  color: var(--neutral-800, #191919);
  font-family: var(--font-rationell);
  font-size: 32px;
  font-weight: 500;
  line-height: 54px; /* 112.5% */
  letter-spacing: -0.64px;
  text-transform: capitalize;

  @media screen and (max-width: 950px) {
    font-size: 34px;
  }
}

.articles-btn {
  font-size: 16px;
  border-radius: 1000px;
  background: var(--blue-100-secondary, #edf3ff);
  padding: 12px 16px;
  color: var(--blue-600-primary, #3568dd);
  font-family: var(--font-inter);
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  height: fit-content;
  white-space: nowrap;

  @media screen and (max-width: 610px) {
    font-size: 14px;
    padding: 8px 16px;
  }
}

.blog-list-page__title {
  color: #27272a;
  font-family: var(--font-rationell);
  font-size: 56px;
  font-weight: 700;
  line-height: 68px; /* 125% */
  letter-spacing: -1.6px;
  text-align: left;
  margin-top: 70px;
  margin-bottom: 16px;

  @media screen and (max-width: 950px) {
    font-size: 40px;
    line-height: 68px; /* 125% */
    margin-bottom: 8px;
    margin-top: 40px;
  }

  @media screen and (max-width: 610px) {
    font-size: 32px;
    line-height: 52px;
    margin-bottom: 8px;
    margin-top: 10px;
  }
}

.blog-list-page__subtitle {
  color: #27272a;
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.216px;
  max-width: 600px;

  @media screen and (max-width: 950px) {
    font-size: 14px;
    line-height: 20px;
  }
  @media screen and (max-width: 610px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.slider-item {
  display: flex !important;
  align-items: stretch;
  max-width: 1190px;
  margin: 0 auto;

  @media screen and (max-width: 1050px) {
    flex-direction: column;
    padding: 0;
  }

  @media screen and (max-width: 650px) {
    padding: 0;
  }
}

.slider-item__link {
  /* display: flex;
  width: 100%;
  align-items: stretch;
  outline: none;

  @media screen and (max-width: 1050px) {
    flex-direction: column;
  } */
}

.slider-item__img {
  border-radius: 40px;
  width: 45%;
  height: 430px;
  object-fit: cover;
  padding-left: 2px;

  @media screen and (max-width: 1050px) {
    width: 100%;
    margin-bottom: 48px;
  }

  @media screen and (max-width: 650px) {
    height: 260px;
    border-radius: 32px;
    margin-bottom: 40px;
  }
}

.slider-item__info {
  padding: 15px 35px 15px 75px;
  display: flex;
  flex-direction: column;
  width: 55%;

  justify-content: center;

  @media screen and (max-width: 1050px) {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

.slider-item__label {
  width: fit-content;
  border-radius: 30px;
  border: 1px solid var(--alpha-black-10, rgba(14, 14, 14, 0.1));
  background: var(--alpha-black-10, rgba(14, 14, 14, 0.1));
  color: var(--neutral-800, #191919);
  font-family: var(--font-inter);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 2.66px;
  padding: 5px 17px;
  margin-bottom: 45px;

  @media screen and (max-width: 1050px) {
    margin-bottom: 24px;
  }
}

.slider-item__title {
  color: var(--neutral-800, #191919);
  max-width: 580px;
  font-family: var(--font-inter);
  font-size: 48px;
  font-weight: 600;
  line-height: 54px; /* 135% */
  letter-spacing: -0.96px;
  margin-bottom: 24px;

  @media screen and (max-width: 1050px) {
    margin-bottom: 16px;
  }

  @media screen and (max-width: 650px) {
    color: var(--neutral-700, #222426);
    font-size: 24px;
    font-weight: 700;
    line-height: 40px; /* 166.667% */
    letter-spacing: -0.48px;
  }
}

.slider-item__subinfo {
  color: var(--neutral-400, #676b73);
  font-family: var(--font-inter);
  font-size: 20px;
  line-height: 28px; /* 140% */
  letter-spacing: -0.28px;
  margin-right: 23px;
  position: relative;

  &:first-child:after {
    content: "";
    position: absolute;
    right: -13px;
    top: 11px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #676b73;
  }

  @media screen and (max-width: 1050px) {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
  }
}

.slider-wrapper {
  margin: 56px auto 80px;

  @media screen and (max-width: 1050px) {
    max-width: none;
  }

  @media screen and (max-width: 650px) {
    max-width: none;
  }
}

.background {
  content: "";
  position: absolute;
  background: #0e0e0e0d;
  height: 360px;
  width: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: -1;
  @media screen and (max-width: 950px) {
    height: 320px;
  }
}

.top {
  padding-top: 110px;
  padding-bottom: 70px;

  @media screen and (max-width: 950px) {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  @media screen and (max-width: 610px) {
    padding-top: 140px;
    padding-bottom: 28px;
  }
}

.background_gray {
  background: var(--alpha-black-5, rgba(14, 14, 14, 0.05));
}
