.roles {
  padding: 127px 0;
  background: var(--alpha-black-5, rgba(14, 14, 14, 0.05));

  @media screen and (max-width: 1024px) {
    padding: 78px 0;
  }

  @media screen and (max-width: 610px) {
    padding-top: 63px;
    padding-bottom: 72px;
  }
}

.roles__title {
  color: var(--neutral-700, #222426);
  font-family: var(--font-rationell);
  font-size: 40px;
  font-weight: 600;
  line-height: 57px; /* 142.5% */
  max-width: 750px;
  letter-spacing: -0.8px;

  @media screen and (max-width: 1024px) {
    font-size: 24px;
    line-height: 33px; /* 137.5% */
  }
}

.roles__list {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 19px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
  }

  @media screen and (max-width: 610px) {
    display: flex;
    flex-direction: column;
  }
}

.roles__item {
  border-radius: 32px;
  background: var(--neutral-100, #E6E6E6);
  padding: 35px 30px;

  img {
    width: 100%;

    @media screen and (max-width: 1024px) {
      width: 60%;
      height: 60%;
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 42px 35px;
  }
}

.roles__item-title {
  color: var(--neutral-700, #222426);
  font-family: var(--font-rationell);
  font-size: 27.541px;
  font-weight: 600;
  line-height: 34.426px; /* 125% */
  margin: 44px 0 16px;
  letter-spacing: -0.551px;

  @media screen and (max-width: 1024px) {
    margin: 24px 0 8px;
    font-size: 18px;
    line-height: 24px; /* 133.333% */
  }
}

.roles__item-text {
  color: var(--neutral-700, #222426);
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.216px;

  @media screen and (max-width: 1024px) {
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
}

.roles__subtext {
  color: var(--neutral-700, #222426);
  font-family: var(--font-rationell);
  font-size: 40px;
  font-weight: 600;
  line-height: 57px; /* 142.5% */
  margin: 48px 0 40px;
  max-width: 1090px;
  letter-spacing: -0.8px;

  @media screen and (max-width: 1024px) {
    margin: 40px 0 32px;
    line-height: 33px; /* 137.5% */
    font-size: 24px;
  }
}
