.container {
  max-width: 1442px;
  padding-inline: 72px;
  margin-inline: auto;
  @media (max-width: 768px) {
    padding-inline: 32px;
  }
  @media (max-width: 480px) {
    padding-inline: 16px;
  }
}

.footer {
  margin-top: 0 !important;
}