@import "mixins";

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

.team-page .container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 70px;

  @media screen and (max-width: 611px) {
    padding: 0 16px;
  }
}
