@import "mixins";

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: 1024px) {
    padding: 0 70px;
  }

  @media screen and (max-width: 768px) {
    padding: 0 16px;
  }
}

.team-page .container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 70px;

  @media screen and (max-width: 611px) {
    padding: 0 16px;
  }
}

.bg-ellipse {
  position: relative;
  width: 100%;

  &:before {
    position: absolute;
    width: inherit;
    height: 2251px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/img/blue-orange-circle.svg");
    z-index: -1;
    top: -50%;
    background-position: center;
    content: "";
  }
}
