.expand {
  padding: 14px 16px;
  border-radius: 32px;
  border: 1px solid var(--Primary-50, #E9EFFB);
  background: var(--Neutrals-50, #FFF);
  box-shadow: 0px 6px 12px 0px rgba(47, 43, 67, 0.10);

  @media screen and (max-width: 678px) {
    padding: 10px 11px;
    border-radius: 24px;
  }
}

.title {
  color: #1C1C1C;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-inter);
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    height: 24px;
    img {
      width: 100%;
    }
  }

  @media screen and (max-width: 678px) {
    font-size: 12px;
    line-height: 17.315px; /* 150% */
    letter-spacing: -0.115px;

    button {
      height: 17px;
      width: 17px;
    }
  }
}

.content {
  transition: .3s;
  max-height: 0;
  overflow: hidden;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

.content_expand {
  max-height: 400px;
}

.text, .link {
  color: var(--Neutrals-600---Secondary-content, #63636D);
  font-size: 16px;
  font-family: var(--font-inter);
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  margin-top: 16px;

  @media screen and (max-width: 678px) {
    font-size: 12px;
    font-weight: 500;
    line-height: 17.315px; /* 150% */
    letter-spacing: -0.115px;
  }
}

.rotate {
  transform: rotate(180deg);
}

.link {
  display: flex;
  align-items: center;
  color: #3668DD;
  margin-top: 22px;
  width: fit-content;

  svg {
    stroke: #3668DD;
    height: 15px;
  }
}

.done {
  font-size: 12px;
  padding: 2px 8px;
  font-weight: 500;
  margin-left: auto;
  line-height: 16px;
  margin-right: 8px;
  text-align: center;
  border-radius: 20px;
  letter-spacing: -.12px;
  font-family: var(--font-inter);
  color: var(--Success-700, #155742);
  background: var(--Success-50, #e5fff7);
  border: 1px solid var(--Success-100, #c5eee1);
}