.select_container {
  position: relative;
  display: flex;
  height: 48px;
  align-items: center;
  gap: 12px;
  align-self: stretch;

  --children-length: 0; // passed from js

  transition: height 0.2s ease-in-out;

  //&.focused {
  //  height: calc(48px + 8px + (var(--children-length) * 44px));
  //}
}

.input {
  width: 100%;
  border-radius: 162px;
  border: 1px solid rgba(47, 43, 67, 0.1);
  background: #fff;
  height: 48px;
  padding: 0px 16px;

  color: #2f2b4399;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  align-self: stretch;

  &_focused {
    box-shadow: 0px 0px 0px 3px #99b8ff;
  }

  &:hover {
    border: 1px solid rgba(47, 43, 67, 0.2);
  }

  &_placeholder {
    color: rgba(14, 14, 14, 0.6);
  }

  &_error {
    border: 1px solid #ffd9cd !important;
  }
}

.input_error.input_placeholder {
  color: #ff4747;
}
.arrow {
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-in-out;
}

.focused .arrow {
  transform: rotate(0.75turn);
}

.dropdown {
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 12px;
  background: #fff;

  position: absolute;
  top: calc(48px + 8px);
  left: 0;
  height: 0;
  width: 100%;
  overflow: hidden;

  transition: height 0.2s ease-in;
}

.select_container.focused .dropdown {
  height: calc(var(--children-length) * 44px);
  border: 1px solid rgba(47, 43, 67, 0.1);
  box-shadow: 0px -1px 0px 0px rgba(47, 43, 67, 0.1) inset,
    0px 4px 8px 0px rgba(47, 43, 67, 0.1);
}

.option {
  height: 44px;
  display: flex;
  padding: 10px 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  cursor: pointer;

  &:hover {
    background: rgba(47, 43, 67, 0.05);
  }
}
