.sbtContainer {
  background-color: #E9EFFB;
  box-shadow: 0 0 0 100vmax #E9EFFB;
  clip-path: inset(0 -100vmax);
  text-align: center;
  @media screen and (min-width: 1024px) {
    padding: 140px 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding: 44px 0;
  }
  @media screen and (max-width: 767px) {
    padding: 32px 0;
  }

  h2 {
    color: #3668DD;
    font-family: var(--font-rationell);
    @media screen and (min-width: 1024px) {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.8px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.48px;
    }
    @media screen and (max-width: 767px) {
      font-weight: 600;
      font-size: 22px;
      line-height: 28px;
      letter-spacing: -0.44px;
      text-align: left;
    }
  }

  h3 {
    margin-top: 183px;
    color: #29292D;
    font-family: var(--font-rationell);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.64px;
    @media screen and (max-width: 992px) {
      margin-top: 64px;
      font-size: 28px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: -0.56px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 41px;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.48px;
    }
  }

  p {
    margin-top: 16px;
    color: #63636D;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.216px;
    @media screen and (max-width: 992px) {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.192px;
    }
    @media screen and (max-width: 768px) {
      line-height: 22px;
    }
  }

  .tokenWrapper {
    margin-top: 56px;
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;  /* Safari and Chrome */
      width: 0;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
    }

    .tokenItem {
      .tokenImage {
        @media screen and (min-width: 1024px) {
          max-width: 190px;
          max-height: 190px;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
          max-width: 100px;
          max-height: 100px;
        }
        @media screen and (max-width: 767px) {
          max-width: 110px;
          max-height: 110px;
        }
      }
    }
  }
}


