.header {
  z-index: 99;
  width: 100%;
  color: #222426;
  position: relative;
  background: white;
  border-bottom: 1px solid var(--Neutrals-100, #F2F2F3);
}

.header-container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 20px;
  min-height: 70px;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between;

  > a {
    line-height: 0;
  }

  @media screen and (max-width: 1100px) {
    padding: 16px 20px;
    min-height: 86.06px;
  }

  @media screen and (max-width: 610px) {
    padding: 16px 0;
    min-height: 62.16px;
    width: calc(100% - 36px);
  }
}

.header_fixed {
  top: 0;
  position: sticky;
}

.header__logo {
  max-height: 48px;
  max-width: 160px;

  @media screen and (max-width: 1210px) {
    max-width: 122px;
  }
  
  @media screen and (max-width: 610px) {
    max-width: 100px;
  }
}

.connect-wallet {
  font-weight: 500 !important;

  @media screen and (max-width: 1100px) {
    margin-left: auto;
  }
}

.nav-item-wrapper {
  gap: 53px;
  height: 70px;
  display: flex;
  margin: 0 auto;
  align-items: center;

  @media screen and (max-width: 1100px) {
    gap: 0;
    height: unset;
    overflow: auto;
    max-height: calc(100dvh - 86.05px);
  }

  @media screen and (max-width: 1100px) and (min-width: 609px) {
    left: 0;
    top: 100%;
    width: 100%;
    padding: 16px 20px;
    position: absolute;
    background: #ffffff;
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (max-width: 610px) {
    width: 100%;
    margin-top: 8px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.nav-item {
  svg {
    transition: 0.2s ease all;
  }

  @media screen and (min-width: 1101px) {
    height: 100%;
    display: flex;
    align-items: center;

    &:hover {
      .nav-item__list {
        box-shadow: 0px 12px 36px 0px rgba(47, 43, 67, 0.12);
      }

      .nav-item__list-wrapper {
        max-height: 600px;
        pointer-events: auto;
        padding-bottom: 40px;
      }

      .nav-item__label {
        color: var(--primary-500-base, #3668DD);
      }

      span {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  @media screen and (max-width: 1100px) {
    &_active span {
      color: var(--primary-500-base, #3668DD);
    }
  
    &_active svg {
      transform: rotate(180deg);
    }
  }

  &_active .nav-item__list-wrapper {
    @media screen and (max-width: 1100px) {
      margin: 8px 0;
      max-height: 800px;

      div {
        div {
          gap: 8px;

          a {
            padding: 8px 16px;
          }
        }
      }
    }

    @media screen and (max-width: 610px) {
      div {
        div {
          a {
            padding: 8px;

            div {
              p {
                &:last-child {
                  font-size: 14px;
                  line-height: 20px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1100px) {
    width: 100%;

    >span {
      padding: 16px 0;
      border-bottom: 1px solid var(--Neutrals-100, #F2F2F3);

      >svg {
        width: 20px;
        height: auto;
      }
    }

    &:last-child {
      >span {
        border-bottom: unset;
      }
    }
  }

  @media screen and (max-width: 608px) {
    &:last-child {
      margin-bottom: 12px;
    }
  }
}

.nav-item__label {
  gap: 8px;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  align-items: center;
  letter-spacing: -0.16px;
  line-height: 24px;
  /* 150% */
  font-family: var(--font-inter);
  color: var(--Neutrals-800---Primary-content, #29292D);

  @media screen and (max-width: 1100px) {
    width: 100%;
    justify-content: space-between;
  }
}

.nav-item__list-wrapper {
  transition: 0.3s max-height;
  overflow: hidden;
  max-height: 0px;

  @media screen and (min-width: 1101px) {
    left: 0;
    top: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
  }
}

.nav-item__list {
  @media screen and (min-width: 1101px) {
    width: 100%;
    background: #ffffff;
    padding: 16px 16px 32px 16px;

    &_products {
      > div {
        gap: 32px 8px;
        width: 1036px;
        margin: 0 auto;
        max-width: 100%;
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &_about {
      > div {
        width: 1400px;
        margin: 0 auto;
        max-width: 100%;
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &_be-involved {
      > div {
        width: 1400px;
        margin: 0 auto;
        max-width: 100%;
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &_community {
      > div {
        width: 916px;
        margin: 0 auto;
        max-width: 100%;
        grid-template-columns: repeat(3, 1fr);

        a {
          img {
            width: 28px;
            height: auto;
          }

          &:hover {
            img {
              filter: brightness(0.3);
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1100px) and (min-width: 609px) { 
    &_community {
      > div {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  @media screen and (max-width: 1100px) {
    right: 0;
  }

  @media screen and (max-width: 609px) {
    &_community {
     img {
      display: block;
     }
    }
  }
}

.nav-item__list-container {
  display: grid;
}

.nav-item__list-img {
  width: 40px;
  height: 40px;

  @media screen and (max-width: 610px) {
    display: none;
  }
}

.nav-item__list-item {
  gap: 16px;
  display: flex;
  cursor: pointer;
  padding: 12px 16px;
  align-items: center;

  @media screen and (min-width: 1101px) {
    &:hover {
      .nav-item__list-title {
        color: var(--primary-500-base, #3668DD);

        svg {
          opacity: 1;
          transform: translateX(0);
        }
      }

      .nav-item__list-descr {
        color: var(--Neutrals-800---Primary-content, #29292D);
      } 
    }
  }

  @media screen and (max-width: 1100px) {
    padding: 0;
    width: 100%;
    // margin-top: 40px;
  }
}

.nav-item__list-title {
  gap: 16px;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  align-items: center;
  line-height: 24px;
  /* 150% */
  letter-spacing: -0.16px;
  font-family: var(--font-inter);
  color: var(--Neutrals-800---Primary-content, #29292D);
  transition: 0.2s ease all;

  svg {
    opacity: 0;
    transform: translateX(-8px);
    color: var(--primary-500-base, #3668DD);
  }
}

.nav-item__list-descr {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: var(--font-inter);
  color: var(--Neutrals-400, #9b9ca5);
}

.header__products {
  margin: 0 auto;

  @media screen and (max-width: 1225px) {
    display: none;
  }
}

.header__product {
  color: var(--neutral-700, #222426);
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
  letter-spacing: -0.16px;

  &:hover {
    color: rgba(69, 126, 255, 1);
  }

  &:not(:last-child) {
    margin-right: 40px;

    @media screen and (max-width: 1225px) {
      margin-right: 20px;
    }
  }
}

.header__balance {
  display: flex;
  align-items: center;
  margin-right: 32px;

  @media screen and (max-width: 650px) {
    margin-right: 12px;
  }

  span {
    color: #46464d;
    text-align: center;
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.16px;
  }
}

.header__balance-img {
  margin-right: 8px;
}

.header__address {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 8px;

  @media screen and (max-width: 610px) {
    margin-left: auto;
    border-radius: 1000px;
    background-color: #f2f2f3;
    padding: 8px 16px;
  }

  @media screen and (max-width: 365px) {
    img {
      display: none;
    }
  }
}

.header__address-text {
  margin-left: 8px;
  line-height: 24px;
  font-family: var(--font-inter);

  @media screen and (max-width: 365px) {
    margin-left: 0;
  }
}

.header__address-arrow {
  margin-left: 5px;

  @media screen and (max-width: 410px) {
    display: none;
  }

  &.open {
    transform: rotate(180deg);

    >span {
      color: var(--primary-500-base, #3668DD);
    }
  }
}

.header__hamburger {
  margin-left: 24px;
  height: 24px;

  @media screen and (max-width: 660px) {
    margin-left: 6px;
  }
}

.header__buttons {
  gap: 16px;
  display: flex;
  align-items: center;
}

.header__button-tetiary {
  color: #0c0c0d;

  span {
    font-family: var(--font-inter);
    font-weight: 500;
  }

  @media screen and (max-width: 660px) {
    display: none;
  }
}

.connected-nav {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  overflow: auto;

  @media screen and (min-width: 611px) {
    padding: 32px;
    background: #ffffff;
    box-shadow: 0px 12px 36px rgba(47, 43, 67, 0.12);
    position: absolute;
    right: 0;
    top: 110px;
    width: 296px;
  }

  @media screen and (max-width: 1100px) {
    padding-top: 22px;
  }

  @media screen and (max-width: 610px) {
    border-radius: 0;
    width: 100%;
  }
}

.connected-nav__title {
  font-family: var(--font-inter);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 28px;

  @media screen and (max-width: 1100px) {
    font-size: 16px;
  }
}

.connected-nav__product {
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 40px;
}

.connected-nav__link {
  font-family: var(--font-inter);
  line-height: 26px;
  font-weight: 500;
  color: #676b73;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.connected-nav__link-arrow {
  width: 100%;
  display: none;
  align-items: center;
  margin-bottom: 16px;

  a {
    flex: 1;
    margin-bottom: 0;
  }
}

.address-info {
  @media screen and (min-width: 609px) {
    width: 340px;
    position: absolute;
    right: 0;
    top: 110px;
    padding: 24px;
    background: #fff;
    box-shadow: 0px 12px 36px rgba(47, 43, 67, 0.12);
    border-radius: 24px;
  }

  @media screen and (max-width: 610px) {
    width: 100%;
    margin-top: 20px;
  }

  hr {
    border: none;
    height: 1px;
    width: 100%;
    background-color: #f2f2f3;
    margin: 20px 0;
  }
}

.address-info__block {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.address-info__address {
  color: #0c0c0d;
  text-align: center;
  /* WEB/Body 2/500 - Medium */
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: -0.16px;
  margin-right: 12px;
}

.address-info__check {
  position: relative;
  top: 2px;
  margin-right: 4px;
}

.address-info__copy {
  position: relative;
  cursor: pointer;
}

.address-info__block-wrapper {
  display: flex;
  flex-direction: column;
}

.address-info__copied {
  display: block;
  color: var(--neutral-300, #a1a6b2);
  font-family: var(--font-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.14px;
}

.address-info__disconnect {
  display: flex;
  color: #ff6767;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: -0.16px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.blur-overlay {
  z-index: 99;
  position: fixed;
  width: 100vw;
  height: 130vh;
  top: -200px;
  backdrop-filter: blur(6px);
}

.connected-nav__products {
  display: none;

  @media screen and (max-width: 1225px) {
    display: flex;
    flex-direction: column;
  }
}

.connected-nav__community {
  display: flex;
  gap: 24px 32px;
  flex-wrap: wrap;
}

.connected-nav__community-item {
  width: 32px;
  height: 32px;

  img {
    width: 100%;
  }
}

.connect-wallet-img {
  display: none;
}

.connect-wallet-text {
  color: inherit;
}

.hamburger-btn {
  display: none;
  line-height: 0;

  @media screen and (max-width: 1100px) {
    display: block;
  }
}

.nav-item-wrapper_desktop {
  @media screen and (max-width: 1100px) {
    display: none;
  }
}

.nav-item-wrapper_not-desktop {
  @media screen and (min-width: 1101px) {
    display: none;
  }
}

.header__bitget {
  width: 21px;
  height: auto;
}