.header {
  display: flex;
  justify-content: space-between;
  z-index: 79;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1300px;
  min-height: 90px;
  padding: 8px 20px;
  background: white;
  box-shadow: 0px 12px 36px rgba(47, 43, 67, 0.12);
  border-radius: 24px;
  position: absolute;
  color: #222426;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 140px);

  @media screen and (max-width: 950px) {
    padding: 16px 20px;
    min-height: 80px;
  }

  @media screen and (max-width: 610px) {
    padding: 16px;
    min-height: 72px;
    width: calc(100% - 36px);
  }
}

.header_fixed {
  position: fixed;
  top: 20px;
}

.header__logo {
  height: 48px;

  @media screen and (max-width: 950px) {
    width: 122px;
  }

  @media screen and (max-width: 610px) {
    width: 100px;
  }
}

.connect-wallet {
  font-weight: 600 !important;

  @media screen and (max-width: 950px) {
    margin-left: auto;
    margin-right: 32px;
  }

  @media screen and (max-width: 610px) {
    width: 40px;
    height: 40px !important;
    padding: 0;
    border-radius: 50%;
  }
}

.nav-item-wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;

  @media screen and (max-width: 950px) {
    overflow: auto;
    max-height: 70vh;
  }
  @media screen and (max-width: 950px) and (min-width: 609px) {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 12px 36px rgba(47, 43, 67, 0.12);
    border-radius: 24px;
    right: 0;
    top: 100px;
    width: 442px;
    padding: 32px;
  }

  @media screen and (max-width: 610px) {
    flex-direction: column;
    align-items: flex-start;
    margin: 40px 0 0;
    width: 100%;
  }
}

.nav-item {
  @media screen and (min-width: 950px) {
    &:hover {
      .nav-item__list {
        box-shadow: 0px 11px 34px rgba(0, 0, 0, 0.1);
      }

      .nav-item__list-wrapper {
        max-height: 600px;
        pointer-events: auto;
        padding-bottom: 40px;
      }

      .nav-item__label {
        color: var(--blue-500, #457eff);
      }

      .nav-item__label-img path {
        fill: #457eff;
      }
    }

    &:hover .nav-item__label-img {
      transform: scale(1, -1);
    }
  }

  &_active .nav-item__label-img {
    transform: scale(1, -1);
  }

  &_active .nav-item__list-wrapper {
    @media screen and (max-width: 950px) {
      max-height: 800px;
    }
  }

  &:not(:last-child) {
    margin-right: 80px;

    @media screen and (max-width: 1100px) {
      margin-right: 40px;
    }

    @media screen and (max-width: 950px) {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 950px) {
    width: 100%;

    &:not(:first-child) {
      margin-top: 16px;
    }
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  @media screen and (max-width: 608px) {
    &:last-child {
      margin-bottom: 12px;
    }
  }
}

.nav-item__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--neutral-700, #222426);
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;

  @media screen and (max-width: 950px) {
    width: 100%;
    justify-content: space-between;
  }
}

.nav-item__label-img {
  padding-left: 8px;
}

.nav-item__list-wrapper {
  transition: 0.3s max-height;
  overflow: hidden;
  max-height: 0px;

  @media screen and (min-width: 949px) {
    pointer-events: none;
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 60px 40px 0;
  }
}

.nav-item__list {
  @media screen and (min-width: 949px) {
    background: #ffffff;
    border-radius: 20px;
    width: 876px;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &_socials {
      width: 476px;
    }
  }

  @media screen and (max-width: 1100px) {
    right: 0;
  }
}

.nav-item__list-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.nav-item__list-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 16px;

  @media screen and (min-width: 950px) {
    &:hover {
      background: var(--alpha-black-5, rgba(14, 14, 14, 0.05));
    }
  }

  @media screen and (max-width: 950px) {
    padding: 0;
    width: 100%;
    margin-top: 40px;
  }
}

.nav-item__list-title {
  color: var(--neutral-700, #222426);
  font-family: var(--fint-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

.nav-item__list-descr {
  font-size: 14px;
  color: #676b73;
  margin-top: 8px;
  line-height: 20px; /* 142.857% */
}

.header__products {
  margin: 0 auto;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.header__product {
  color: var(--neutral-700, #222426);
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;

  &:hover {
    color: rgba(69, 126, 255, 1);
  }

  &:not(:last-child) {
    margin-right: 40px;

    @media screen and (max-width: 1100px) {
      margin-right: 20px;
    }
  }
}

.header__balance {
  display: flex;
  align-items: center;
  margin-right: 32px;

  /* @media screen and (max-width: 1024px) {
    margin-left: auto;
  } */

  @media screen and (max-width: 650px) {
    margin-right: 12px;
  }

  /* @media screen and (max-width: 730px) {
    display: none;
  } */

  span {
    color: #46464d;
    text-align: center;
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
  }
}

.header__balance-img {
  margin-right: 8px;
}

.header__address {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 8px;

  @media screen and (max-width: 610px) {
    margin-left: auto;
    border-radius: 1000px;
    background-color: #f2f2f3;
    padding: 8px 16px;
  }

  @media screen and (max-width: 365px) {
    img {
      display: none;
    }
  }
}

.header__address-text {
  margin-left: 8px;
  line-height: 24px;

  @media screen and (max-width: 365px) {
    margin-left: 0;
  }
}

.header__address-arrow {
  margin-left: 5px;

  &.open {
    transform: rotate(180deg);
  }
}

.header__hamburger {
  margin-left: 24px;
  height: 24px;

  @media screen and (max-width: 660px) {
    margin-left: 12px;
  }
}

.header__buttons {
  display: flex;
  align-items: center;

  @media screen and (max-width: 660px) {
    /* flex-direction: column; */
  }
}

.header__button-tetiary {
  margin-right: 16px;

  span {
    font-weight: 600;
  }

  @media screen and (max-width: 610px) {
    display: none;
  }
}

.connected-nav {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  overflow: auto;

  @media screen and (min-width: 611px) {
    padding: 32px;
    background: #ffffff;
    box-shadow: 0px 12px 36px rgba(47, 43, 67, 0.12);
    position: absolute;
    right: 0;
    top: 110px;
    width: 296px;
  }

  @media screen and (max-width: 950px) {
    padding-top: 22px;
  }

  @media screen and (max-width: 610px) {
    border-radius: 0;
    width: 100%;
  }
}

.connected-nav__title {
  font-family: var(--font-inter);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 28px;

  @media screen and (max-width: 950px) {
    font-size: 16px;
  }
}

.connected-nav__product {
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 40px;
}

.connected-nav__link {
  font-family: var(--font-inter);
  line-height: 26px;
  font-weight: 500;
  color: #676b73;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.connected-nav__link-arrow {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 16px;

  a {
    flex: 1;
    margin-bottom: 0;
  }

  @media screen and (min-width: 650px) {
    display: none;
  }
}

.address-info {
  @media screen and (min-width: 609px) {
    width: 340px;
    position: absolute;
    right: 0;
    top: 110px;
    padding: 24px;
    background: #fff;
    box-shadow: 0px 12px 36px rgba(47, 43, 67, 0.12);
    border-radius: 24px;
  }

  @media screen and (max-width: 610px) {
    width: 100%;
    margin-top: 20px;
  }

  hr {
    border: none;
    height: 1px;
    width: 100%;
    background-color: #f2f2f3;
    margin: 20px 0;
  }
}

.address-info__block {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.address-info__address {
  color: #0c0c0d;
  text-align: center;
  /* WEB/Body 2/500 - Medium */
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  margin-right: 12px;
}

.address-info__check {
  position: relative;
  top: 2px;
  margin-right: 4px;
}

.address-info__copy {
  position: relative;
  cursor: pointer;
}

.address-info__block-wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.address-info__copied {
  display: block;
  color: var(--neutral-300, #a1a6b2);
  font-family: var(--font-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.14px;
}

.address-info__disconnect {
  display: flex;
  color: #ff6767;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.blur-overlay {
  z-index: 99;
  position: fixed;
  width: 100vw;
  height: 130vh;
  top: -200px;
  backdrop-filter: blur(6px);
}

.connected-nav__products {
  display: none;

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }
}

.connected-nav__community {
  display: flex;
  gap: 24px 32px;
  flex-wrap: wrap;
}

.connected-nav__community-item {
  width: 32px;
  height: 32px;

  img {
    width: 100%;
  }
}

.connect-wallet-img {
  display: none;

  @media screen and (max-width: 610px) {
    display: block;
  }
}

.connect-wallet-text {
  color: inherit;

  @media screen and (max-width: 610px) {
    display: none;
  }
}

.hamburger-btn {
  display: none;
  line-height: 0;

  @media screen and (max-width: 950px) {
    display: block;
  }
}

.nav-item-wrapper_desktop {
  @media screen and (max-width: 950px) {
    display: none;
  }
}

.nav-item-wrapper_not-desktop {
  @media screen and (min-width: 951px) {
    display: none;
  }
}

.header_banner:not(.header_fixed) {
  margin-top: 20px;
}
