.container {
  display: flex;
  justify-content: center;
  margin-top: 5vw;
  @media screen and (max-width: 610px) {
    justify-content: flex-start;
    margin-left: 5%;
    margin-top: 8vw;
  }
}
.wrapper {
  max-width: 1300px;
  width: calc(100% - 140px);
  @media screen and (max-width: 610px) {
    width: 95%;
  }
}
.headerText {
  font-family: var(--font-rationell);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 4.9vw;
  letter-spacing: -1.12px;
  margin-bottom: 3vh;
  color: #222426;
  @media screen and (max-width: 1100px) {
    font-size: 35px;
    line-height: 48px; /* 171.429% */
    letter-spacing: -0.56px;
  }
  @media screen and (max-width: 768px) {
    font-size: 28px;
    line-height: 48px; /* 171.429% */
    letter-spacing: -0.56px;
  }
}
