.hero {
  display: flex;
  align-items: center;
  padding-top: 88px;
  padding-bottom: 88px;
  gap: 100px;
  margin: 192px auto 142px;

  @media screen and (max-width: 1024px) {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 224px;
    margin-bottom: 86px;
    gap: 32px;
    justify-content: space-between;
  }

  @media screen and (max-width: 610px) {
    margin-top: 176px;
    margin-bottom: 71px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
}

.hero__left {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero__title {
  font-family: var(--font-rationell);
  font-size: 56px;
  font-weight: 700;
  line-height: 68.5px; /* 122.321% */
  color: #457EFF;
  max-width: 675px;

  @media screen and (max-width: 1024px) {
    font-size: 40px;
    line-height: 52.5px; /* 131.25% */
  }
}

.hero__text {
  color: var(--neutral-600, #393B40);
  font-family: var(--font-intel);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px; /* 133.333% */

  @media screen and (max-width: 1024px) {
    font-size: 18px;
    line-height: 26px; /* 144.444% */
  }
}

.hero__btn {
  width: fit-content;
}

.hero__img {
  @media screen and (max-width: 1024px) {
    max-width: 258px;
    height: auto;
  }
}