.contact {
  padding: 195px 0 267px;
  max-width: 100vw;
  position: relative;

  @media screen and (max-width: 1150px) {
    padding: 180px 0 246px;
  }

  @media screen and (max-width: 650px) {
    padding: 154px 0 168px;
  }

  &::before {
    width: 100vw;
    height: 100%;
    content: "";
    position: absolute;
    background-image: url('/bg-gradient/contactUs.svg');
    background-repeat: no-repeat;
    background-size: cover;
    inset: 0;
    z-index: -1;

    @media screen and (max-width: 650px) {
      background-position: bottom;
    }
  }

}

.title {
  text-align: center;
  font-family: var(--font-rationell);
  font-size: 56px;
  font-weight: 700;
  line-height: 68.5px;
  letter-spacing: -1.12px;
  background: -webkit-linear-gradient(#457EFF, #3568DD);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  max-width: 1050px;
  margin: 0 auto;

  @media screen and (max-width: 1150px) {
    font-size: 40px;
    line-height: 52.5px;
    letter-spacing: -0.8px;
  }

  @media screen and (max-width: 650px) {
    font-size: 32px;
    line-height: 44.5px;
    letter-spacing: -0.64px;
  }
}

.links {
  display: flex;
  justify-content: center;
  gap: 77px;
  margin: 96px 0;

  @media screen and (max-width: 1150px) {
    gap: 40px;
    margin: 70px auto 120px;
    justify-content: center;
  }

  @media screen and (max-width: 650px) {
    flex-direction: column;
    align-items: center;
    margin: 64px auto 80px;
  }
}

.link_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;

  @media screen and (max-width: 1150px) {
    width: 182px;
  }

  @media screen and (max-width: 650px) {
    width: auto;
    max-width: 343px;
  }
}

.link {
  display: block;
  width: min-content;
  padding: 50px 66px;
  color: #ffffff;
  text-align: center;
  font-family: var(--font-inter);
  font-size: 66px;
  font-weight: 500;
  line-height: 100px;
  letter-spacing: -0.16px;
  border-radius: 4150.541px;
  background: #FF7A00;
  box-shadow: 0 1px 3px 0 rgba(47, 43, 67, 0.10), 0px -1px 0px 0px rgba(47, 43, 67, 0.10) inset;
  transition: .3s;

  &:hover {
    background: #FF5E0D;
  }

  @media screen and (max-width: 1150px) {
    padding: 22px 30px;
    font-size: 32px;
    line-height: 50px;
  }
}

.link_text {
  text-align: center;
  margin-top: 24px;
  color: #222426;
  font-family: var(--font-inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.216px;

  @media screen and (max-width: 1150px) {
    font-size: 14px;
    letter-spacing: -0.14px;
  }
}

.form_title {
  color: #222426;
  font-family: var(--font-rationell);
  font-size: 48px;
  font-weight: 500;
  line-height: 57px;
  letter-spacing: -0.96px;
  text-align: center;
  margin-bottom: 8px;

  @media screen and (max-width: 1150px) {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.56px;
  }
}

.form_subtitle {
  color: #222426;
  text-align: center;
  font-family: var(--font-inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.216px;
  max-width: 650px;
  margin: 0 auto;

  @media screen and (max-width: 1150px) {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.14px;
  }
}

.form_container {
  border-radius: 50px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0 12px 36px 0 rgba(47, 43, 67, 0.12);
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 500px;
  margin: 48px auto 0;

  @media screen and (max-width: 1150px) {
    margin-top: 40px;
    max-width: 623px;
    padding: 32px;
  }

  input {
    border: 0;
    outline: none;
  }
}

.footer {
  margin-top: 0!important;
}
