.title {
  text-align: center;
  font-family: var(--font-rationell);
  font-size: 56px;
  font-weight: 700;
  line-height: 68.5px; /* 122.321% */
  letter-spacing: -1.12px;
  background: -webkit-linear-gradient(#457EFF, #3568DD);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-top: 306px;
  max-width: 1050px;
}

.links {

}