.footer {
  padding: 70px;
  margin-top: 100px;
  background: var(--Primary-50, #E9EFFB);

  @media screen and (max-width: 950px) {
    padding: 56px;
  }

  @media screen and (max-width: 650px) {
    padding: 32px;
  }
}

.footer__inner {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}

.footer__lists {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 100px;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    gap: 40px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer__lists-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 16px;
  font-family: var(--font-inter);
  color: var(--Neutrals-800---Primary-content, #29292D);
  
  &:not(:first-child) {
    margin-top: 32px;
    
    @media screen and (max-width: 1024px) {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.footer__lists-links {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 32px 16px;

  a {
    display: block;
    width: fit-content;

    img {
      display: block;
    }
  }

  @media screen and (max-width: 610px) {
    flex-direction: row;
  }
}

.footer__lists-item {
  a {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 16px;
    display: inline-block;
    transition: all 0.25s ease;
    font-family: var(--font-inter);
    color: var(--Neutrals-600---Secondary-content, #63636D);

    @media screen and (max-width: 1024px) {
      font-size: 12px;
      line-height: 20px;
    }

    &:hover {
      color: var(--Neutrals-800---Primary-content, #29292D);
    }
  }
}

.footer__lists-soon {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 9px;
  line-height: 20px;
  border-radius: 30px;
  border: 1px solid var(--alpha-white-20, rgba(255, 255, 255, 0.2));
  background: var(--alpha-white-10, rgba(255, 255, 255, 0.1));
  margin-left: 16px;
  letter-spacing: 2.28px;
  font-family: var(--font-inter);
  user-select: none;
}

.footer__list {
  flex-grow: 1;
}

.footer__socials {
  gap: 100px;
  display: flex;
  margin-top: 104px;
  justify-content: center;

  a {
    transition: all 0.2s ease-in-out;
    
    &:hover {
      opacity: 0.8;
    }

    img {
      filter: brightness(0.4);
    }
  }
  
  @media screen and (max-width: 1024px) {
    gap: 64.57px;
    margin-top: 72px;
  }

  @media screen and (max-width: 950px) {
    gap: 0;
    justify-content: space-between;
  }

  @media screen and (max-width: 767px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    a {
      text-align: center;
    }
  }

  @media screen and (max-width: 650px) {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px 32px;
  }
}

.footer-app {
  border-radius: 64px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #2d2f31;
  box-shadow: 0px 8px 24px 0px rgba(47, 43, 67, 0.1);
  padding: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 96px;

  &_contact {
    padding: 76px 56px;
  }

  @media screen and (max-width: 1050px) {
    padding: 56px;
  }

  @media screen and (max-width: 650px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 31px;
  }
}

.footer-app__info {
  max-width: 511px;
  display: flex;
  flex-direction: column;
  gap: 17px;

  &_contact {
    max-width: 633px;
  }
}

.footer-app__title {
  color: var(--neutral-0, #fff);
  font-family: var(--font-reationell);
  font-size: 48px;
  font-weight: 600;
  line-height: 54px; /* 112.5% */
  letter-spacing: -0.96px;

  @media screen and (max-width: 1050px) {
    font-size: 24px;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
  }
}

.footer-app__text {
  color: var(--neutral-200, #c2c5cc);
  /* Subheadline/400 - Regular */
  font-family: var(--font-inter);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px; /* 140% */
  letter-spacing: -0.28px;

  @media screen and (max-width: 1050px) {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
  }
}

.footer-app__btn {
  width: fit-content;

  button {
    background: var(--neutral-0, #fff) !important;
    color: var(--neutral-900, #0e0e0e) !important;
  }
}

.footer-app__img {
  max-width: 420px;
  height: auto;

  @media screen and (max-width: 1050px) {
    max-width: 250px;
  }
}

.footer-mobile-apps {
  gap: 24px;
  width: 1120px;
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 72px;
  border-radius: 32px;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  padding: 64.27px 83px 107.73px 83px;
  background-color:  var(--primary-500-base, #3668DD);
  background-image: url("/img/homepage/downloadapp-bg.svg");
  
  @media screen and (max-width: 1024px) {
    padding: 44px;
    background-image: url("/img/homepage/downloadapp-tablet-bg.svg");
  }
  
  @media screen and (max-width: 767px) {
    background-size: contain;
    background-position: bottom;
    padding: 29.79px 27px 267.89px 27px;
    background-image: url("/img/homepage/downloadapp-mobile-bg.svg");
  }
}

.footer-mobile-apps-title {
  gap: 8px;
  width: 576px;
  display: flex;
  max-width: 100%;
  flex-direction: column;

  span {
    color: #FFFFFF;
    
    &:first-child {
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      font-family: var(--font-rationell);
    }

    &:last-child {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  @media screen and (max-width: 1024px) {
    width: 340.69px;

    span {
      &:first-child {
        font-size: 28px;
        line-height: 36px;
      }
  
      &:last-child {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    width: 100%;

    span {
      &:first-child {
        font-size: 20px;
        line-height: 29.95px;
      }
  
      &:last-child {
        font-size: 12px;
        line-height: 15.09px;
      }
    }
  }
}

.download-app {
  gap: 16px;
  display: flex;
  flex-direction: column;
  
  a {
    width: fit-content;
    display: inline-flex;
    transition: all 0.2s ease-in-out;

    img {
      height: auto;
      max-width: 100%;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  @media screen and (max-width: 1024px) {
    width: 340.69px;
    flex-direction: row;

    a {
      flex: 1;
    }
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}