.products {
  padding: 136px;
  border-radius: 138px;
  background: var(--neutral-700, #222426);

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.products__text {
  max-width: 588px;

  color: var(--neutral-0, #FFF);
  text-align: center;
  font-size: 24px;
  font-family: var(--font-inter);
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.384px;

  margin-bottom: 64px;
}

.products__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 40px;
}

.products__card {
  padding: 56px;
  border-radius: 56px;
  border: 1px solid var(--alpha-white-20, rgba(255, 255, 255, 0.20));
  background: var(--alpha-white-5, rgba(255, 255, 255, 0.05));

  max-width: 555px;
}

.products__cardName {
  padding: 5px 17px;
  border-radius: 30px;
  border: 1px solid var(--alpha-white-20, rgba(255, 255, 255, 0.20));
  background: var(--alpha-white-10, rgba(255, 255, 255, 0.10));

  color: var(--neutral-0, #FFF);
  text-align: center;
  font-size: 14px;
  font-family: var(--font-inter);
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2.66px;

  width: fit-content;

  margin-bottom: 32px;
}

.products__cardText {
  font-size: 40px;
  font-family: var(--font-mersad);
  font-weight: 800;
  line-height: 54px;
  letter-spacing: -0.8px;
  color: var(--neutral-400, rgba(103, 107, 115, 1));

  margin-bottom: 32px;
}

.products__cardText_white {
  color: #fff;
}

.products__cardButtons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;

  margin-bottom: 56px;
}

.products__button_orange {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;

  border-radius: 1000px;
  background: var(--yellow-600-accent, #FF5E0D);

  color: var(--neutral-0, #FFF);
  text-align: center;
  font-size: 16px;
  font-family: var(--font-inter);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.products__button_plain {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 1000px;

  color: var(--neutral-100, #E6E6E6);

  font-size: 16px;
  font-family: var(--font-inter);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.products__cardImage {
  width: 100%;
  object-fit: contain;
  object-position: center;
}
