.hero {
  display: flex;
  justify-content: center;
  padding-top: 285px;
  padding-bottom: 112px;
  width: 100%;
  background-color: rgba(237, 221, 39, 0.2);
  position: relative;

  @media screen and (max-width: 1200px) {
    padding-top: 140px;
    padding-bottom: 80px;
    padding-inline: 20px;
  }

  @media only screen and (max-width: 640px) {
    background: linear-gradient(180deg, #ffee52 32.99%, #f5f5f5 100%);
  }

  .gradientElements {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 0;
    display: flex;
    right: 0;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  .gradientElement1 {
    width: 51px;
    background: linear-gradient(180deg, #ffee52 32.99%, #f5f5f5 100%);
  }

  .gradientElement2 {
    width: 80px;
    background: linear-gradient(0deg, #fbf8d4 67.01%, #f5f5f5 100%);
  }

  .gradientElement3 {
    width: 160px;
    background: linear-gradient(180deg, #ffee52 32.99%, #f5f5f5 100%);
  }

  .inner {
    position: relative;
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 640px 1fr;
    gap: 64px;

    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
      gap: 32px;
    }

    @media only screen and (max-width: 640px) {
      gap: 70px;
    }

    .buttons {
      display: flex;
      gap: 32px;

      .transparent {
        color: #5080ec;
      }
    }

    .left {
      display: flex;
      flex-direction: column;
      gap: 24px;
      order: 1;

      @media only screen and (max-width: 1200px) {
        order: 2;
      }

      .title {
        color: #222426;
        font-family: var(--font-rationell);
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -1.12px;

        @media screen and (max-width: 1024px) {
          font-size: 46px;
          line-height: 55px;
          letter-spacing: -0.64px;
        }

        @media screen and (max-width: 640px) {
          font-size: 32px;
          line-height: 40px;
          letter-spacing: -0.64px;
        }

        span {
          color: #5080ec;
        }
      }

      .subTitle {
        color: #63636d;
        font-family: var(--font-inter);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: -0.28px;

        @media screen and (max-width: 1024px) {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.16px;
        }
      }
    }

    .right {
      order: 2;

      @media only screen and (max-width: 1200px) {
        order: 1;
      }

      .statsCards {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media screen and (max-width: 640px) {
          gap: 8px;
        }

        @media screen and (min-width: 1024px) and (max-width: 1200px) {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          flex-direction: row;
        }

        > div:nth-child(1) {
          order: 1;

          @media screen and (max-width: 640px) {
            order: 3;
          }
        }

        > div:nth-child(2) {
          order: 2;

          @media screen and (max-width: 640px) {
            order: 1;
          }
        }

        > div:nth-child(3) {
          order: 3;

          @media screen and (max-width: 640px) {
            order: 2;
          }
        }
      }

      .statsCard {
        border-radius: 40px;
        background: #f2f4f6;
        box-shadow: 0px -1px 0px 0px rgba(47, 43, 67, 0.1) inset,
          0px 1px 3px 0px rgba(47, 43, 67, 0.1);
        display: flex;
        padding: 32px;
        align-items: center;
        gap: 16px;
        width: fit-content;

        @media screen and (min-width: 1024px) and (max-width: 1200px) {
          width: 100%;
          padding: 20px;
        }

        @media screen and (max-width: 640px) {
          width: 100%;
          padding: 16px 32px;
          justify-content: center;
          background-color: #fbf8d4;
        }

        &.active {
          position: relative;
          background-color: #ffee52;

          .topImage {
            position: absolute;
            bottom: calc(100% - 40px);
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;

            @media screen and (max-width: 1200px) {
              display: none;
            }
          }
        }

        &.last {
          bottom: -184px;
          left: 0;
          position: absolute;

          @media screen and (max-width: 1200px) {
            position: static;
          }
        }

        .statsContent {
        }

        .statsInner {
          display: flex;
          gap: 16px;
          align-items: center;
        }

        .statsContent {
          @media screen and (max-width: 640px) {
            text-align: center;
          }
        }

        .statsValue {
          display: flex;
          align-items: center;
          font-family: var(--font-rationell);
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          gap: 4px;

          &.statsFontMedium {
            font-size: 36px;
          }

          span {
            display: none;
          }

          @media screen and (min-width: 1024px) and (max-width: 1200px) {
            font-size: 28px;
          }

          @media screen and (max-width: 640px) {
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: -0.48px;
            margin-bottom: 4px;

            span {
              display: block;
            }
          }

          @media screen and (min-width: 641px) {
            background: linear-gradient(270deg, #0e0e0e 0.06%, #676b73 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        .statsLabel {
          color: #9b9ca5;
          font-family: var(--font-inter);
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 26px;
          letter-spacing: -0.216px;

          @media screen and (max-width: 640px) {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: -0.192px;
          }
        }
      }
    }
  }
}

.features {
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;

  @media screen and (max-width: 1024px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (max-width: 920px) {
    padding-inline: 20px;
  }

  @media screen and (max-width: 640px) {
    background-color: #f2f4f6;
  }

  .title {
    margin-bottom: 56px;
    color: #222426;
    text-align: center;
    font-family: var(--font-rationell);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.96px;

    @media screen and (max-width: 1024px) {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.64px;
    }
  }

  .list {
    margin: 0 auto;
    align-items: center;
    gap: 48px;
    max-width: 1257px;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(676px, 1fr) 1fr;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      gap: 24px;
      grid-template-columns: 1.5fr 1fr;
    }

    @media screen and (min-width: 1000px) and (max-width: 1024px) {
      max-width: 1000px;
    }

    @media screen and (max-width: 640px) {
      grid-template-columns: 1fr;
      gap: 48px;
    }

    .leftTik {
      border-radius: 24px;
      background-color: #f2f4f6;
      padding: 62px 90px 0;

      @media screen and (max-width: 1024px) {
        padding: 17px 17px 0;
        flex-direction: column;
      }

      .stakingTitle {
        font-family: var(--font-rationell);
        text-align: center;
        margin-bottom: 36px;

        h3 {
          margin-bottom: 6px;
          color: #273852;
          font-size: 26px;
          font-style: normal;
          font-weight: 800;
          line-height: 31.2px;

          @media screen and (max-width: 640px) {
            text-align: center;
            font-size: 14.423px;
            line-height: 17.308px;
          }
        }

        h4 {
          color: #7a8aa0;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 18px;

          @media screen and (max-width: 640px) {
            color: #7a8aa0;
            text-align: center;
            font-size: 6.657px;
            font-style: normal;
            line-height: 9.985px;
          }
        }
      }

      .stakingHolder {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }

      .stakingInfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, max-content);
        row-gap: 15px;

        padding: 32px;
        border-radius: 20px;
        background: linear-gradient(105deg, #fff -6.61%, #fffacf 105.94%);

        @media screen and (max-width: 640px) {
          padding: 16px;
          border-radius: 11px;
        }

        .gridItem {
          display: inline-grid;
          gap: 10px;

          .label {
            color: #7a8aa0;
            font-family: var(--font-inter);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 19.2px;

            display: flex;
            align-items: center;
            gap: 10px;

            @media screen and (max-width: 640px) {
              color: #7a8aa0;
              font-size: 6.657px;
              font-style: normal;
              font-weight: 400;
              line-height: 10.651px;
            }
          }

          .value {
            display: flex;
            align-items: center;
            color: #121212;
            font-family: var(--font-inter);
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 19.2px;
            gap: 8px;

            span {
              color: #94979c;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 19.2px;
            }

            @media screen and (max-width: 640px) {
              font-size: 9.985px;
              line-height: 10.651px;

              span {
                font-size: 9.985px;
                line-height: 10.651px;
              }
            }
          }

          .green {
            color: #53ba95;
          }
        }
      }

      .tabs {
        display: flex;
        width: 100%;
        align-items: center;

        > span {
          position: relative;
          flex: 1;
          display: block;
          padding: 12px 24px;
          color: rgba(14, 14, 14, 0.6);
          text-align: center;
          font-family: var(--font-inter);
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: -0.16px;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: rgba(14, 14, 14, 0.1);

          @media screen and (max-width: 640px) {
            padding: 6px 13px;
            font-size: 8.876px;
            font-style: normal;
            font-weight: 500;
            line-height: 13.314px;
            letter-spacing: -0.089px;
          }

          &.active {
            color: #3668dd;

            &:after {
              position: absolute;
              bottom: -1px;
              left: 0;
              height: 2px;
              background-color: #3668dd;
              width: 100%;
              content: '';
            }
          }
        }
      }

      .inputMockup {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        background: #ffffff;
        padding: 32px 32px 15px;

        .input {
          border-radius: 10px;
          border: 1px solid rgba(0, 10, 61, 0.12);
          background: #ffffff;
          display: flex;
          gap: 14px;
          align-items: center;
          padding: 12px 16px;

          img {
            height: 100%;
          }

          .min {
            color: #121212;
            font-family: var(--font-inter);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 17.5px;
            opacity: 0.5;

            @media screen and (max-width: 765px) {
              font-size: 8.876px;
              line-height: 9.708px;
            }
          }

          .max {
            margin-left: auto;
            border-radius: 6px;
            opacity: 0.5;
            background-color: #d1eeff;

            padding: 11px 16px;
            color: #00a3ff;
            text-align: center;
            font-family: var(--font-inter);
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: 10px;
            letter-spacing: 0.4px;

            @media screen and (max-width: 765px) {
              font-size: 5.547px;
              line-height: 5.547px;
              letter-spacing: 0.222px;
              padding: 6px 9px;
            }
          }
        }

        .stake {
          margin-top: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 21px 0;
          border-radius: 10px;
          opacity: 0.5;
          background-color: #00a3ff;

          color: #ffffff;
          text-align: center;
          font-family: var(--font-inter);
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 14px;

          @media screen and (max-width: 765px) {
            padding: 11px 0;
            font-size: 7.766px;
            line-height: 7.766px;
          }
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      row-gap: 38px;

      .info {
        svg {
          margin-bottom: 16px;
          color: #9b9ca5;

          @media screen and (max-width: 640px) {
            color: #29292d;
          }
        }

        .text {
          h3 {
            margin-bottom: 8px;
            color: #29292d;
            font-family: var(--font-inter);
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: -0.384px;

            @media screen and (max-width: 765px) {
              font-size: 20px;
              line-height: 26px;
              letter-spacing: -0.32px;
            }
          }

          span {
            color: #29292d;
            font-family: var(--font-inter);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.16px;

            b {
              font-weight: 700;
            }

            @media screen and (max-width: 765px) {
              line-height: 22px;
              letter-spacing: -0.192px;
            }
          }
        }
      }
    }
  }
}

.ctaHolder {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 100%;
  padding: 90px 70px 100px;
  background: linear-gradient(0, #fff 20%, #ffee52 80%);

  @media screen and (max-width: 1024px) {
    padding: 90px 40px 100px;
  }

  @media screen and (max-width: 767px) {
    padding: 90px 20px 100px;
  }

  @media only screen and (max-width: 640px) {
    padding: 60px 16px 100px;
  }

  .ctaInner {
    margin: 0 auto;
    padding: 104px 65px;
    flex: 1;
    position: relative;
    border-radius: 40px;
    max-width: 1300px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 12px 36px 0px rgba(47, 43, 67, 0.12);

    @media only screen and (max-width: 640px) {
      padding: 16px;
      border-radius: 32px;
      background: #ffee52;

      .buttons {
        flex-direction: column;
        align-items: center;

        .link:not(.transparent) {
          width: 100%;
        }
      }
    }

    .ctaLines {
      position: absolute;
      display: flex;
      z-index: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      @media only screen and (max-width: 640px) {
        display: none;
      }
    }

    .ctaLine {
      flex-grow: 1;
      width: 64px;
      height: 100%;
    }
  }

  h3 {
    text-align: center;
    color: #29292d;
    font-family: var(--font-rationell);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: -0.8px;

    b {
      font-weight: 700;
    }
  }

  h4 {
    color: #222426;
    text-align: center;
    font-family: var(--font-rationell);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.8px;

    @media screen and (max-width: 1024px) {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.64px;
    }

    &:not(:last-child) {
      margin-bottom: 56px;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}

.link {
  color: #fff;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.16px;

  display: flex;
  gap: 8px;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  background-color: #3668dd;
  box-shadow: 0px -1px 0px 0px rgba(47, 43, 67, 0.1) inset,
    0px 1px 3px 0px rgba(47, 43, 67, 0.1);
  cursor: pointer;

  span {
    color: #fff;
  }

  @media screen and (max-width: 640px) {
    padding: 8px 16px;

    span {
      display: none;
    }
  }
}

.transparent {
  color: #3668dd;
  background-color: transparent;
  box-shadow: none;
  padding: 12px 16px;

  @media screen and (max-width: 1024px) {
    padding: 0;
    justify-content: flex-start;
  }
}

.cta {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  .topImage {
    display: none;
    margin: 0 auto;

    @media screen and (max-width: 640px) {
      display: block;
    }
  }
}

.maxWidth {
  width: 100%;
}

.footer {
  margin-top: 0 !important;
}
