.community {
  display: grid;
  grid-template-columns: 440px  1fr;
  align-items: center;
  overflow: hidden;
  margin-bottom: 112px;
}

.community__img {
  position: relative;
  height: 100%;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #fff -2.69%, rgba(255, 255, 255, 0) 48.66%, #fff 102.19%);
  }

  img {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    object-fit: contain;
  }
}

.community__right {
  padding: 152px 0 152px 152px;
}

.community__title {
  color: var(--neutral-700, #222426);
  font-family: var(--font-rationell);
  font-size: 40px;
  font-weight: 600;
  line-height: 57px; /* 142.5% */
  margin-bottom: 48px;
}

.community__btn {
  margin-right: 24px;
}