.community {
  display: grid;
  grid-template-columns: 440px  1fr;
  align-items: center;
  overflow: hidden;
  margin-bottom: 112px;

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 145px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 64px;
  }
}

.community__img-wrapper {
  position: relative;
  height: 100%;

  @media screen and (max-width: 1024px) {
    height: 500px;
    width: 100%;
    overflow: hidden;
  }

  @media screen and (max-width: 768px) {
    height: 515px;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #fff -2.69%, rgba(255, 255, 255, 0) 48.66%, #fff 102.19%);

    @media screen and (max-width: 1024px) {
      background: linear-gradient(180deg, #fff -2.69%, rgba(255, 255, 255, 0) 48.66%, #fff 130.19%);
    }

    @media screen and (max-width: 768px) {
      background: linear-gradient(180deg, #fff -2.69%, rgba(255, 255, 255, 0) 48.66%, #fff 102.19%);
    }
  }
}

.community__img {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  object-fit: contain;

  @media screen and (max-width: 1024px) {
    display: none;
    width: 500px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    display: block;
  }

  &_tablet {
    display: none;

    @media screen and (max-width: 1024px) {
      display: block;
      height: auto;
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.community__right {
  padding: 152px 0 152px 152px;

  @media screen and (max-width: 1024px) {
    padding: 0;
    margin-top: 30px;
  }
}

.community__title {
  color: var(--neutral-700, #222426);
  font-family: var(--font-rationell);
  font-size: 40px;
  font-weight: 400;
  line-height: 57px; /* 142.5% */
  margin-bottom: 48px;
  letter-spacing: -0.8px;
  @media screen and (max-width: 1024px) {
    font-size: 32px;
    line-height: 41px; /* 128.125% */
    margin-bottom: 32px;
  }

  @media screen and (max-width: 768px) {
    font-size: 24px;
    line-height: 33px; /* 137.5% */
  }
}

.community__btn {
  margin-right: 24px;
}