.community-block {
  border-radius: 60px;
  background: var(--yellow-500, #FF7A00);
  padding: 106px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 120px auto 0;
}

.community-block__left {
  width: 50%;
}

.community-block__label {
  width: fit-content;
  color: var(--neutral-0, #FFF);
  text-align: center;
  font-size: 14px;
  font-family: var(--font-inter);
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2.66px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: rgba(255, 255, 255, 0.10);
  padding: 8px 17px;
}

.community-block__title {
  color: var(--neutral-0, #FFF);
  font-size: 48px;
  font-family: var(--font-mersad);
  margin: 40px 0;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -0.96px;
}

.community-block__text {
  color: var(--neutral-0, #FFF);
  font-size: 24px;
  font-family: var(--font-inter);
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.384px;
}

.community-block__right {
  width: calc(50% - 106px);
  display: flex;
  flex-wrap: wrap;
  gap: 26px 32px;
}

.community-block-item {
  flex-grow: 1;
  border-radius: 30px;
  border: 1px solid var(--yellow-400-warning, #FFAC23);
  background: var(--alpha-white-20, rgba(255, 255, 255, 0.20));
  padding: 30px 32px;
}

.community-block-item__title {
  color: var(--neutral-0, #FFF);
  font-size: 20px;
  font-family: var(--font-inter);
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.28px;
}

.community-block-item__text {
  color: var(--neutral-0, #FFF);
  font-size: 12px;
  font-family: var(--font-inter);
  line-height: 16px;
  letter-spacing: -0.12px;
  margin: 5px 0 21px;
}