.media-slider-wrapper {
  background: white;
}

.media-slider-block-wrapper {
  overflow: hidden;
}
.media-slider-image-block {
  width: auto;
  height: 410.57px;
  border-radius: 24px;
  @media screen and (max-width: 610px) {
    height: 233.074px;
    border-radius: 14px;
  }
}

.media-slider-block {
  display: flex;
  align-items: center;
  gap: 16px;
  animation: scroll 40s linear infinite;
  position: absolute;
  left: 0;
  top: 0;
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% / 2 + 7px));
    }
  }
  @media screen and (max-width: 1200px) {
    gap: 7px;
  }

  &:hover {
    animation-play-state: paused; /* Pause the animation on hover */
  }

  &_win span {
    font-family: var(--font-inter);
  }
}

.media-slider-container {
  position: relative;
  height: 410px;
  width: 100vw;
  overflow: hidden;
}