.media-slider-wrapper {
  background: white;
}

.media-slider-block-wrapper {
  overflow: hidden;
}
.media-slider-image-block {
  width: 614.644px;
  height: 410.57px;
  border-radius: 24px;
  @media screen and (max-width: 610px) {
    width: 348.923px;
    height: 233.074px;
    border-radius: 14px;
  }
}

.media-slider-block {
  display: flex;
  align-items: center;
  gap: 16px;
  animation: scroll 30s linear infinite;
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-3 * 100vw);
    }
  }
  @media screen and (max-width: 1200px) {
    gap: 7px;
    animation: scrollBidTablet 30s linear infinite;
    @keyframes scrollBidTablet {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-3.5 * 100vw));
      }
    }
  }

  @media screen and (max-width: 1024px) {
    gap: 7px;
    animation: scrollTablet 35s linear infinite;
    @keyframes scrollTablet {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-4 * 100vw));
      }
    }
  }
  @media screen and (max-width: 610px) {
    gap: 7px;
    animation: scrollMobile 40s linear infinite;
    @keyframes scrollMobile {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-5 * 100vw));
      }
    }
  }

  &:hover {
    animation-play-state: paused; /* Pause the animation on hover */
  }

  &_win span {
    font-family: var(--font-inter);
  }
}
