.app {
  background: var(--blue-100-secondary, #EDF3FF);
  border-radius: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 112px;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    margin-top: 19px;
    border-radius: 40px;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.app__left {
  padding: 104px 0 104px 113px;

  @media screen and (max-width: 1024px) {
    padding: 51px 0 51px 24px;
  }
}

.app__title {
  color: var(--neutral-700, #222426);
  font-family: var(--font-rationell);
  font-size: 48px;
  font-weight: 700;
  line-height: 57px; /* 118.75% */
  margin-bottom: 24px;
  max-width: 313px;
  letter-spacing: -0.96px;

  span {
    font-family: var(--font-rationell);
    color: #457EFF;
  }

  @media screen and (max-width: 1024px) {
    font-size: 28px;
    line-height: 40px;
    max-width: none;
  }
}

.app__list {
  margin-bottom: 24px;
}

.app__appstore, .app__google {
  height: 48px;

  @media screen and (max-width: 1024px) {
    height: 30px;
    width: auto;
  }

  @media screen and (max-width: 768px) {
    height: 48px;
  }
}

.app__list-item {
  list-style: outside;
  margin-bottom: 16px;
  margin-left: 24px;
  color: var(--neutral-600, #393B40);
  font-family: var(--font-inter);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px; /* 140% */
  letter-spacing: -0.28px;

  @media screen and (max-width: 1024px) {
    font-size: 16px;
    line-height: 24px; /* 150% */
    margin-bottom: 8px;
  }
}

.app__right {
  position: relative;

  @media screen and (max-width: 768px) {
    height: 160px;
  }

  img {
    position: absolute;
    width: 1160px;
    height: auto;
    top: -130px;
    left: -150px;
    pointer-events: none;

    @media screen and (max-width: 1024px) {
      width: 890px;
      left: -110px;
    }

    @media screen and (max-width: 890px) {
      left: -180px;
    }

    @media screen and (max-width: 768px) {
      width: 800px;
      top: -170px;
      left: 50%;
      transform: translateX(calc(-50% + 130px));
    }
  }
}

.app__link {
  display: inline-block;
  width: fit-content;
  transition: .3s;

  &:hover {
    opacity: .5;
  }

  &:last-child {
    margin-left: 24px;

    @media screen and (max-width: 1024px) {
      margin-left: 8px;
    }
  }
}