.wrapper {
  max-width: 1000px;
  width: 55%;
  @media screen and (max-width: 1600px) {
    width: 75%;
  }
  @media screen and (max-width: 1200px) {
    width: 80%;
  }
  @media screen and (max-width: 950px) {
    width: 85%;
  }
  @media screen and (max-width: 610px) {
    width: 95%;
  }
}
.itemContainer {
  display: flex;
  padding: 56px;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-radius: 56px;
  border: 1px solid var(--alpha-black-10, rgba(14, 14, 14, 0.1));
  background: var(--alpha-black-5, rgba(14, 14, 14, 0.05));
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vh;
  @media screen and (max-width: 950px) {
    border-radius: 24px;
    padding: 24px;
  }
}
.nameContainer {
  color: var(--neutral-700, #222426);
  font-family: var(--font-rationell);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px; /* 178.125% */
  letter-spacing: -0.64px;
  @media screen and (max-width: 950px) {
    font-size: 24px;
  }
}
.buttonContainer {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 1000px;
  background: var(--alpha-black-5, rgba(14, 14, 14, 0.05));
}
.buttonText {
  color: var(--neutral-900, #0e0e0e);
  font-family: var(--font-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.16px;
}
