.contentContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 118px;

  @media screen and (max-width: 950px) {
    padding-bottom: 73px;
  }

  @media screen and (max-width: 610px) {
    padding-bottom: 60px;
  }

  &:before,
  &:after {
    position: absolute;
    width: inherit;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/img/blue-orange-circle.svg");
    z-index: -1;
    content: "";
  }

  &:before {
    bottom: -70%;
    background-position: top;
  }

  &:after {
    bottom: 0;
    background-position: bottom;
  }
}

.articlesContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15vh;
  @media screen and (max-width: 950px) {
    margin-top: 5vh;
  }
}

.articlesWrapper {
  width: calc(100% - 240px);
  max-width: 1300px;

  @media screen and (max-width: 610px) {
    width: calc(100% - 36px);
  }
}

.footer {
  margin-top: 0!important;
}
