* {
  --purple-500: rgba(116, 61, 229, 1);
  --neutral-900: rgba(14, 14, 14, 1);
  --neutral-0: rgba(255, 255, 255, 1);
  --neutral-100: rgba(242, 242, 243);
  --neutral-200: rgba(213, 214, 217);
  --neutral-600: rgba(99, 99, 109);
  --neutral-700: rgba(70, 70, 77);
  --neutral-900: rgba(12, 12, 13);
  --alpha-black-5: rgba(14, 14, 14, 0.05);
  --blue-500-primary: rgba(80, 128, 236, 1);
  --blue-600-primary: #3668dd;
  --blue-400: rgba(125, 163, 249, 1);
  --rose-500: rgba(239, 89, 179, 1);
  --wcm-z-index: 9999 !important;
  --warning-500: rgba(255, 201, 62, 1);
  --secondary-500-base: rgba(255, 94, 13, 1);
}
