* {
  --purple-500: rgba(116, 61, 229, 1);
  --neutral-900: rgba(14, 14, 14, 1);
  --neutral-0: rgba(255, 255, 255, 1);
  --alpha-black-5: rgba(14, 14, 14, 0.05);
  --blue-600-primary: rgba(53, 104, 221, 1);
  --blue-400: rgba(125, 163, 249, 1);
}
