.main-block-wrapper {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/homepage/main/desktop.jpg");

  @media only screen and (max-width: 1024px) {
    background-image: url("/img/homepage/main/tablet.jpg");
  }
  
  @media only screen and (max-width: 767px) {
    background-image: url("/img/homepage/main/mobile.jpg");
  }
}

.main-block {
  gap: 91px;
  display: flex;
  padding-top: 217px;
  align-items: center;
  padding-bottom: 120px;
  flex-direction: column;
  
  @media only screen and (max-width: 1024px) {
    gap: 93px;
    padding-top: 154px;
    padding-bottom: 88px;
  }
  
  @media only screen and (max-width: 767px) {
    gap: 49.85px;
    padding-top: 130px;
    padding-bottom: 56px;
  }
}

.main-block__title-description {
  gap: 24px;
  width: 945px;
  display: flex;
  max-width: 100%;
  text-align: center;
  padding: 0 0 59px 0;
  flex-direction: column; 

  h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -2%;
    font-family: var(--font-rationell);
    color: var(--Neutrals-800---Primary-content, #29292D);
  }
  
  div {
    font-size: 20px;
    line-height: 28px;
    font-family: var(--font-inter);
    color: var(--Neutrals-600---Secondary-content, #63636D);
  }

  @media only screen and (max-width: 1024px) {
    gap: 8px;
    padding: 0;

    h1 {
      font-size: 40px;
      line-height: 48px;
    }

    div {
      font-size: 18px;
      line-height: 26px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    gap: 24px;

    h1 {
      font-size: 36px;
      line-height: 44px;
    }

    div {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.main-block__additional-blocks {
  gap: 20px;
  display: flex;
  width: 1300px;
  max-width: 100%;
  align-items: center;

  @media only screen and (max-width: 1024px) {
    gap: 12px;
    flex-direction: column;
  }
  
  @media only screen and (max-width: 767px) {
    gap: 8px;
  }
}

.main-block__additional-block {
  flex: 1;
  width: 100%;
  display: flex;
  cursor: pointer;
  min-height: 200px;
  border-radius: 24px;
  padding: 25.5px 28.5px;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: bottom left;
  box-shadow: 0px 6px 12px rgba(47, 43, 67, 0.1);
  background-image: url("/img/homepage/main/additional-block.svg");
  transition: all 0.2s ease-in-out;


  &:hover {
    opacity: 0.9;
  }
  
  &:nth-child(1) {
    background-color: var(--primary-500-base, #3668DD);

    .main-block__additional-block-title {
      div {
        &:last-child {
          color: var(--Primary-100, #C5D4F5);
        }
      }
    }
  }
  
  &:nth-child(2) {
    background-color: var(--success-500-base, #2DBA8D);

    .main-block__additional-block-title {
      div {
        &:last-child {
          color: var(--Success-100, #c5eee1);
        }
      }
    }
  }

  &:nth-child(3) {
    background-color: #743DE5;

    .main-block__additional-block-title {
      div {
        &:last-child {
          color: #D8C5F9;
        }
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    min-height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-position: bottom right;
  }
  
  @media only screen and (max-width: 767px) {
    min-height: 112px;
  }
}

.main-block__additional-block-title {
  gap: 8px;
  display: flex;
  margin: 0 0 auto 0;
  flex-direction: column;

  div {
    font-family: var(--font-inter);

    &:first-child {
      font-size: 24px;
      font-weight: 500;
      color: #FFFFFF;
      line-height: 32px;
      
      @media only screen and (max-width: 767px) {
        font-size: 20px;
        line-height: 26px;
      }
    }
    
    &:last-child {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.05px;
      
      @media only screen and (max-width: 1024px) {
        font-size: 14px;
        line-height: 22px;
      }
      
      @media only screen and (max-width: 767px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

.main-block__continue-button {
  width: 32px;
  height: 32px;
  display: flex;
  margin: 0 0 0 auto;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1);

  @media only screen and (max-width: 1024px) {
    margin: 0;
  }

  @media only screen and (max-width: 767px) {
    display: none;
  }
}