.main-block {
  position: relative;
}

.main-block__title {
  margin: 329px auto 32px;
  background: -webkit-linear-gradient(#457EFF, #3568DD);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: var(--font-rationell);
  font-size: 88px;
  font-weight: 700;
  line-height: 92.5px; /* 105.114% */
  letter-spacing: -1.76px;
  max-width: 572px;
  width: fit-content;
  text-align: center;

  @media screen and (max-width: 1024px) {
    font-size: 72px;
    line-height: 76.5px; /* 106.25% */
    margin-bottom: 16px;
    margin-top: 220px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 229px;
    font-size: 48px;
    line-height: 52.5px; /* 109.375% */
  }
}

.main-block__subtitle {
  color: var(--neutral-900, #0E0E0E);
  font-family: var(--font-inter);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.384px;
  max-width: 572px;
  text-align: center;
  margin: 0 auto;

  @media screen and (max-width: 1024px) {
    font-size: 18px;
    line-height: 26px; /* 144.444% */
  }
}

.main-block__label {
  margin: 188px auto 25px;

  @media screen and (max-width: 1024px) {
    margin: 120px auto 30px;
  }

  @media screen and (max-width: 768px) {
    margin: 75px auto 16px;
  }
}

.main-block__partners {
  filter: grayscale(100%);
  opacity: 0.7;
  max-width: 1120px;
  display: flex;
  animation: scroll 20s linear infinite;

  @media screen and (max-width: 768px) {
    animation: scrollMobile 20s linear infinite;
  }
}

.main-block__partners-wrapper {
  max-width: 1120px;
  overflow: hidden;
  position: relative;
  z-index: -11;
  margin: 0 auto 55px;

  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
  }

  &:after {
    pointer-events: none;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #fff 0.31%, rgba(255, 255, 255, 0) 48.66%, #fff 102.19%);
    top: 0;
    left: 0;
  }
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-1453px));
  }
}

@keyframes scrollMobile {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-970px));
  }
}

.shape {
  position: absolute;
  width: 150px;
  left: -50px;
  transform: rotate(-10deg);
  top: -150px;
  height: auto;
}

.shape-right {
  left: unset;
  right: -50px;
  width: 120px;
  top: unset;
  bottom: 200px;
  transform: scale(1, -1) rotate(-10deg);

  @media screen and (max-width: 768px) {
    bottom: 70px;
  }
}

.main-block__partner {
  width: 52px;
  height: auto;
  margin: 0 40px;

  @media screen and (max-width: 768px) {
    width: 40px;
    margin: 0 24px;
  }
}